flows.json
[
    {
        "id": "cd3c6c14.6a19b8",
        "type": "tab",
        "label": "Motors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "472cf316.a032c4",
        "type": "tab",
        "label": "Furnace",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0319a94.933848",
        "type": "tab",
        "label": "Arm 1-2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36a8cb83.a57434",
        "type": "tab",
        "label": "Arm 3-4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39f681b1.fd6a4e",
        "type": "tab",
        "label": "Strain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0918bb.4ce8878",
        "type": "subflow",
        "name": "Furnace PID params",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1220,
                "y": 400,
                "wires": [
                    {
                        "id": "1c92f36.f5be38d",
                        "port": 0
                    },
                    {
                        "id": "51b0c33e.bf4c2c",
                        "port": 0
                    },
                    {
                        "id": "ec48fbd2.d8f7e",
                        "port": 0
                    },
                    {
                        "id": "32e3274.bd4bd58",
                        "port": 0
                    },
                    {
                        "id": "8c388f0e.2c2008",
                        "port": 0
                    },
                    {
                        "id": "2bf2debf.e33452",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8e799bae.813c4",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "DIRECTION",
        "style": {
            "label": true
        },
        "nodes": [
            "820e06a1.dbb25",
            "f101bbae.4501b",
            "4ce88669.ad009"
        ],
        "x": 2334,
        "y": 73,
        "w": 538,
        "h": 254
    },
    {
        "id": "666a68bf.ca7fa",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "PRESSURE",
        "style": {
            "label": true
        },
        "nodes": [
            "cdea3450.e3356",
            "d0266af7.3d318"
        ],
        "x": 2368,
        "y": 713,
        "w": 464,
        "h": 234
    },
    {
        "id": "446380d7.ea15e8",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "POSITION",
        "style": {
            "label": true
        },
        "nodes": [
            "2f6fa9c1.a66a06",
            "f0fc5028.32d6a8"
        ],
        "x": 368,
        "y": 873,
        "w": 444,
        "h": 234
    },
    {
        "id": "7ad6244d.80c54c",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "PID",
        "style": {
            "label": true
        },
        "nodes": [
            "d923e526.0fbbc8",
            "f3d3e8d.b1ffb18",
            "f844d6f3.98934",
            "fe4fc6e7.d1b8a8",
            "40ca5ce3.622acc",
            "cd8c04d3.3ba4a",
            "4529cb84.9e61e4",
            "928bd9ee.086758",
            "30ac5379.05f964",
            "208ab9e6.260da6",
            "3144c391.fb96cc",
            "ed7a0083.840a8",
            "83b9eaa6.6df188",
            "1cee2d2.0ccef53",
            "f6aacab9.47a55",
            "fb83cd3e.e366f",
            "a1eea51d.35551",
            "cff61e50.dc3e38",
            "86438710.3138b8",
            "8f0a5252.c285e",
            "953a15c9.a2efc8",
            "79f27d56.e26a84",
            "b6b47bfb.b9c7",
            "d7fa507f.9f39e8",
            "5c35ae40.3768d8",
            "d392afce.2cd8c",
            "db263c21.5bbf08",
            "3793a19e.24aede",
            "69d1090a.341778",
            "c30645ed.f3e9b8",
            "78544575.d6fcfc",
            "6106ad0a.9d6b44",
            "64621ee3.0ef0b8",
            "e0c7ed2f.e6a848",
            "bda377f2.09166",
            "74b92fa9.bc2ef8",
            "c540541b.9272c"
        ],
        "x": 94,
        "y": 1319,
        "w": 1652,
        "h": 662
    },
    {
        "id": "cb571989.68227",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 0",
        "style": {
            "label": true
        },
        "nodes": [
            "8d7f6ed9.f5bfc",
            "c622cdd4.6d49c8",
            "ea8e2d80.cca938",
            "de28e6a4.6494e"
        ],
        "x": 268,
        "y": 173,
        "w": 504,
        "h": 434
    },
    {
        "id": "f3298caa.a5de38",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Onboard temp sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "28aecd54.73035a",
            "c8eb7a57.12867",
            "f1b297d3.86f74"
        ],
        "x": 228,
        "y": 1733,
        "w": 504,
        "h": 334
    },
    {
        "id": "412e4124.cd2d18",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT1",
        "style": {
            "label": true
        },
        "nodes": [
            "671a928a.47199c",
            "f15d55fe.96273"
        ],
        "x": 1594,
        "y": 199,
        "w": 392,
        "h": 82
    },
    {
        "id": "864361a2.693d7",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT2",
        "style": {
            "label": true
        },
        "nodes": [
            "4282a3a7.3667ec",
            "c3887544.7385d8"
        ],
        "x": 1594,
        "y": 299,
        "w": 392,
        "h": 82
    },
    {
        "id": "dec4775.1b0c308",
        "type": "group",
        "z": "d0918bb.4ce8878",
        "name": "PID parameters",
        "style": {
            "label": true
        },
        "nodes": [
            "a62512b8.b94b3",
            "d222f179.56a9c8",
            "9064f83f.8efc9",
            "1c92f36.f5be38d",
            "51b0c33e.bf4c2c",
            "2bf2debf.e33452",
            "f85bd3b0.a3f108",
            "6a38adc3.aa3314",
            "8c388f0e.2c2008",
            "32e3274.bd4bd58",
            "ec48fbd2.d8f7e",
            "933c950d.c810f8",
            "8c8f4b52.08b95"
        ],
        "x": 254,
        "y": 239,
        "w": 672,
        "h": 362
    },
    {
        "id": "a66af1c7.2c52e8",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT3",
        "style": {
            "label": true
        },
        "nodes": [
            "5a69be94.4a9278",
            "2e3994f.0fbdc6c"
        ],
        "x": 1594,
        "y": 399,
        "w": 392,
        "h": 82
    },
    {
        "id": "db10a9d6.3cf4e8",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT4",
        "style": {
            "label": true
        },
        "nodes": [
            "21c2048c.fcca44",
            "4024fc44.4a45ac"
        ],
        "x": 1594,
        "y": 499,
        "w": 392,
        "h": 82
    },
    {
        "id": "2bc87535.4a7e62",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 1",
        "style": {
            "label": true
        },
        "nodes": [
            "4a6d0eb9.05129",
            "d32a617b.531d98",
            "e29bdb60.c65598",
            "2bdf9297.27d11e"
        ],
        "x": 268,
        "y": 633,
        "w": 504,
        "h": 434
    },
    {
        "id": "a0c3be17.cbf538",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 2",
        "style": {
            "label": true
        },
        "nodes": [
            "981bb9d1.31d21",
            "c38e4093.6b7da"
        ],
        "x": 268,
        "y": 1093,
        "w": 504,
        "h": 234
    },
    {
        "id": "be3a1423.55f78",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Input period",
        "style": {
            "label": true
        },
        "nodes": [
            "ce872039.a3b0d8",
            "234229e9.2c0656",
            "72a823c7.381864"
        ],
        "x": 14,
        "y": 399,
        "w": 212,
        "h": 202
    },
    {
        "id": "cb43bea3.11cb2",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "release",
        "style": {
            "label": true
        },
        "nodes": [
            "444e409f.1f668"
        ],
        "x": 714,
        "y": 339,
        "w": 82,
        "h": 82
    },
    {
        "id": "3f230530.f52e92",
        "type": "group",
        "z": "36a8cb83.a57434",
        "name": "POSITION",
        "style": {
            "label": true
        },
        "nodes": [
            "bec3217e.4170d8",
            "83dfa8bc.276bd8"
        ],
        "x": 408,
        "y": 713,
        "w": 444,
        "h": 234
    },
    {
        "id": "e17fcd39.04a09",
        "type": "group",
        "z": "36a8cb83.a57434",
        "name": "PRESSURE",
        "style": {
            "label": true
        },
        "nodes": [
            "2ba23474.d0cf14",
            "43b6fbc7.822c84"
        ],
        "x": 1868,
        "y": 533,
        "w": 664,
        "h": 234
    },
    {
        "id": "f0fc5028.32d6a8",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "446380d7.ea15e8",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "892f814c.4627c",
            "5623a3ce.79f00c"
        ],
        "x": 394,
        "y": 899,
        "w": 392,
        "h": 82
    },
    {
        "id": "2f6fa9c1.a66a06",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "446380d7.ea15e8",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "e99b152e.4aa8",
            "979cc689.b8cd7"
        ],
        "x": 394,
        "y": 999,
        "w": 392,
        "h": 82
    },
    {
        "id": "f101bbae.4501b",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "c64d78f8.5a62b8",
            "fd4bd9d6.0a6458"
        ],
        "x": 2454,
        "y": 99,
        "w": 392,
        "h": 82
    },
    {
        "id": "820e06a1.dbb25",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "b256bd2c.0de278",
            "e90b7848.32fa18"
        ],
        "x": 2454,
        "y": 219,
        "w": 392,
        "h": 82
    },
    {
        "id": "d0266af7.3d318",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "666a68bf.ca7fa",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "59c76b4e.7e0824",
            "74e8f634.417238"
        ],
        "x": 2394,
        "y": 739,
        "w": 412,
        "h": 82
    },
    {
        "id": "cdea3450.e3356",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "666a68bf.ca7fa",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "ae3095c9.296df",
            "a6efcee1.a9be"
        ],
        "x": 2394,
        "y": 839,
        "w": 412,
        "h": 82
    },
    {
        "id": "c622cdd4.6d49c8",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC2",
        "style": {
            "label": true
        },
        "nodes": [
            "f4ace7a2.bec3c",
            "447b363b.143fe"
        ],
        "x": 294,
        "y": 299,
        "w": 452,
        "h": 82
    },
    {
        "id": "ea8e2d80.cca938",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC3",
        "style": {
            "label": true
        },
        "nodes": [
            "7a3fcb86.106d54",
            "ce2f9e71.91f2d8"
        ],
        "x": 294,
        "y": 399,
        "w": 452,
        "h": 82
    },
    {
        "id": "8d7f6ed9.f5bfc",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC4",
        "style": {
            "label": true
        },
        "nodes": [
            "27ab509f.2f5a1",
            "e81ee176.c179d"
        ],
        "x": 294,
        "y": 499,
        "w": 452,
        "h": 82
    },
    {
        "id": "c8eb7a57.12867",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC0",
        "style": {
            "label": true
        },
        "nodes": [
            "bb7805c0.6e3c5",
            "cf55608b.8e8898"
        ],
        "x": 254,
        "y": 1759,
        "w": 452,
        "h": 82
    },
    {
        "id": "28aecd54.73035a",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC1",
        "style": {
            "label": true
        },
        "nodes": [
            "298a8da3.652f8a",
            "6726f17e.41e248"
        ],
        "x": 254,
        "y": 1859,
        "w": 452,
        "h": 82
    },
    {
        "id": "f1b297d3.86f74",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC2",
        "style": {
            "label": true
        },
        "nodes": [
            "bceb360e.7706c8",
            "15f3545e.f7b76c"
        ],
        "x": 254,
        "y": 1959,
        "w": 452,
        "h": 82
    },
    {
        "id": "de28e6a4.6494e",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC1",
        "style": {
            "label": true
        },
        "nodes": [
            "257e7bac.6143d4",
            "6b81a524.a81a64"
        ],
        "x": 294,
        "y": 199,
        "w": 452,
        "h": 82
    },
    {
        "id": "4a6d0eb9.05129",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC8",
        "style": {
            "label": true
        },
        "nodes": [
            "c04ebff4.2d987",
            "9b07e55d.6da5b"
        ],
        "x": 294,
        "y": 959,
        "w": 452,
        "h": 82
    },
    {
        "id": "d32a617b.531d98",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC6",
        "style": {
            "label": true
        },
        "nodes": [
            "31fc6597.3b1122",
            "aa2b1935.5a6858"
        ],
        "x": 294,
        "y": 759,
        "w": 452,
        "h": 82
    },
    {
        "id": "e29bdb60.c65598",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC7",
        "style": {
            "label": true
        },
        "nodes": [
            "e417d705.6ef3",
            "906c821c.7de538"
        ],
        "x": 294,
        "y": 859,
        "w": 452,
        "h": 82
    },
    {
        "id": "2bdf9297.27d11e",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC5",
        "style": {
            "label": true
        },
        "nodes": [
            "f9ee7d4b.00db58",
            "52403feb.1c7428"
        ],
        "x": 294,
        "y": 659,
        "w": 452,
        "h": 82
    },
    {
        "id": "981bb9d1.31d21",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "a0c3be17.cbf538",
        "name": "TC10",
        "style": {
            "label": true
        },
        "nodes": [
            "cf4077f4.f30dc",
            "6c8d2b98.f855bc"
        ],
        "x": 294,
        "y": 1219,
        "w": 452,
        "h": 82
    },
    {
        "id": "c38e4093.6b7da",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "a0c3be17.cbf538",
        "name": "TC9",
        "style": {
            "label": true
        },
        "nodes": [
            "26fec770.ee05b",
            "ab7f6598.9cfbc"
        ],
        "x": 294,
        "y": 1119,
        "w": 452,
        "h": 82
    },
    {
        "id": "bec3217e.4170d8",
        "type": "group",
        "z": "36a8cb83.a57434",
        "g": "3f230530.f52e92",
        "name": "ARM 4",
        "style": {
            "label": true
        },
        "nodes": [
            "e72c29fd.bf0e3",
            "64b162a7.b71a4c"
        ],
        "x": 434,
        "y": 839,
        "w": 392,
        "h": 82
    },
    {
        "id": "83dfa8bc.276bd8",
        "type": "group",
        "z": "36a8cb83.a57434",
        "g": "3f230530.f52e92",
        "name": "ARM 3",
        "style": {
            "label": true
        },
        "nodes": [
            "cf1edc02.aaf2f",
            "65d8c6bb.82ba28"
        ],
        "x": 434,
        "y": 739,
        "w": 392,
        "h": 82
    },
    {
        "id": "2ba23474.d0cf14",
        "type": "group",
        "z": "36a8cb83.a57434",
        "g": "e17fcd39.04a09",
        "name": "ARM 4",
        "style": {
            "label": true
        },
        "nodes": [
            "b586528c.d6cc68",
            "c0baf15b.3c37a8",
            "d93aad88.4785e8"
        ],
        "x": 1894,
        "y": 659,
        "w": 612,
        "h": 82
    },
    {
        "id": "43b6fbc7.822c84",
        "type": "group",
        "z": "36a8cb83.a57434",
        "g": "e17fcd39.04a09",
        "name": "ARM 3",
        "style": {
            "label": true
        },
        "nodes": [
            "d0b2da9d.a5d1c",
            "e6ecf5dc.17cc1",
            "ef46928d.95e0b"
        ],
        "x": 1894,
        "y": 559,
        "w": 612,
        "h": 82
    },
    {
        "id": "8680f5c5.8c3ab8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Tapering UI",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fa943f83.ed6f3",
        "type": "ui_group",
        "name": "Furnace",
        "tab": "f2b9b840.849ad",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "ffe1c026.b79e4",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.10.50:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "21d594e5.b5238c",
        "type": "ui_tab",
        "name": "Furnace",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c50b1cd6.b052d",
        "type": "ui_group",
        "name": "Motor control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9315ce3e.fb1dc8",
        "type": "ui_tab",
        "name": "Strain ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93e5d32a.4731b8",
        "type": "ui_group",
        "name": "Strain",
        "tab": "f2b9b840.849ad",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "590618eb.b8ddc8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c50b1cd6.b052d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2b9b840.849ad",
        "type": "ui_tab",
        "name": "Position",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63b898e3.cb88b",
        "type": "ui_group",
        "name": "Arm 1-2",
        "tab": "f2b9b840.849ad",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "925c35a3.6e8c6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "63b898e3.cb88b",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "f277b7b3.2f1898",
        "type": "ui_group",
        "name": "Arm 3-4",
        "tab": "f2b9b840.849ad",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "f52b6c42.56ef1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4bb11c1.04f848",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "f2b9b840.849ad",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "dd85593c.6e9ce",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "63b898e3.cb88b",
        "order": 5,
        "width": "0",
        "height": "0"
    },
    {
        "id": "b99ee262.c21f58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f277b7b3.2f1898",
        "order": 3,
        "width": "0",
        "height": "0"
    },
    {
        "id": "92164c2e.bef808",
        "type": "OpcUa-Client",
        "z": "cd3c6c14.6a19b8",
        "endpoint": "ffe1c026.b79e4",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "write to lemon",
        "x": 1040,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "77071c6d.6debc4",
        "type": "ui_text_input",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "label": "Set speed ",
        "tooltip": "mm/min",
        "group": "63b898e3.cb88b",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "topicType": "str",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "b2eb0a03.e1fcf"
            ]
        ]
    },
    {
        "id": "b2eb0a03.e1fcf",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "fromRealUnit",
        "func": "// 0.01 is due to second gearbox not accounted for in plc units\n// 60 is seconds to a minute\n// 2*pi*r is the circumference of the drive\n\ncoef = 0.01 * 60 * (2 * Math.PI * flow.get('radius'));\n\nmsg.payload /= coef;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "a3e136d8.68c86"
            ]
        ]
    },
    {
        "id": "cc7c0ac.94f4878",
        "type": "phidget22-connect",
        "z": "472cf316.a032c4",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "11623147.a352af",
        "type": "ui_chart",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 1,
        "width": "9",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1090,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "671a928a.47199c",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "412e4124.cd2d18",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0c4bb1.ee7488",
        "type": "phidget22-connect",
        "z": "39f681b1.fd6a4e",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 150,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "49c47775.50ca4",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": 0,
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "0",
        "debug": true,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "a4493398.d24668",
                "7d7cac2.09e3a54"
            ]
        ]
    },
    {
        "id": "65560268.c466c4",
        "type": "ui_chart",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "group": "93e5d32a.4731b8",
        "order": 6,
        "width": "10",
        "height": "7",
        "label": "Strain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 970,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a4493398.d24668",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "7d7cac2.09e3a54"
            ]
        ]
    },
    {
        "id": "d5b0ef19.44cfb",
        "type": "inject",
        "z": "39f681b1.fd6a4e",
        "name": "Reset plot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 660,
        "y": 40,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "cec384a2.b8b4e",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": "1",
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "0",
        "debug": false,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8f2ff0c2.af014",
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "8f2ff0c2.af014",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "2513049d.8fac1c",
        "type": "ui_button",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "group": "93e5d32a.4731b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "ZeroNow",
        "topicType": "str",
        "x": 430,
        "y": 40,
        "wires": [
            [
                "7d7cac2.09e3a54",
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "7d7cac2.09e3a54",
        "type": "function",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "func": "if (msg.topic == 'VoltageratioChange') {\n    context.set('lastValue', msg.payload.voltageRatio);\n}\nelse  if (msg.topic == 'ZeroNow') {\n    context.set('offset', context.get('lastValue') );\n}\nelse {\n    msg.payload -= context.get('offset')\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('offset', 0)",
        "finalize": "",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "f4dd88fa.3c273",
        "type": "function",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "func": "if (msg.topic == 'VoltageratioChange') {\n    context.set('lastValue', msg.payload.voltageRatio);\n}\nelse  if (msg.topic == 'ZeroNow') {\n    context.set('offset', context.get('lastValue') );\n}\nelse {\n    msg.payload -= context.get('offset')\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('offset', 0)",
        "finalize": "",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "2e7c1c51.2896b4",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": 0,
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "1",
        "debug": true,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "ecd8638c.b6549"
            ]
        ]
    },
    {
        "id": "ecd8638c.b6549",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "8505330a.300fb8",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": "1",
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "1",
        "debug": false,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "cefa2f37.d8fdc8"
            ]
        ]
    },
    {
        "id": "cefa2f37.d8fdc8",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "2f2ed952.2cb95e",
        "type": "phidget22-connect",
        "z": "d0319a94.933848",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c64d78f8.5a62b8",
        "type": "phidget22-digitaloutput",
        "z": "d0319a94.933848",
        "g": "f101bbae.4501b",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 2560,
        "y": 140,
        "wires": [
            [
                "fd4bd9d6.0a6458"
            ]
        ]
    },
    {
        "id": "59c76b4e.7e0824",
        "type": "phidget22-voltageoutput",
        "z": "d0319a94.933848",
        "g": "d0266af7.3d318",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": 0,
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2510,
        "y": 780,
        "wires": [
            [
                "74e8f634.417238"
            ]
        ]
    },
    {
        "id": "148e9301.db3565",
        "type": "function",
        "z": "d0319a94.933848",
        "name": "Track position",
        "func": "var positions = flow.get('positions');\n\nif (msg.topic == 'PositionChange') {\n\n    if (msg.label in positions) {\n        position = positions[msg.label]\n    }\n    else {\n        position = 0;\n    }\n\n    // 2 mm pole length\n    // 4096 interpolated steps\n    // RLM2HDA12B\n    \n    var positionChange = -msg.payload.positionChange*2/4096;\n    \n    position += positionChange;\n    \n    positions[msg.label] = position;\n    \n    flow.set('positions', positions);\n    \n    var velocity = positionChange/msg.payload.timeChange;\n    \n    var pos = { topic: msg.label,  payload: position }\n    var vel = { topic: msg.label,  payload: velocity }\n    \n    return [pos, vel]\n}\nelse if (msg.topic == 'setZero') { \n    for (var label in positions) {\n        positions[label]=0\n    }\n    \n    flow.set('positions', positions);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('positions', {});",
        "finalize": "",
        "x": 1220,
        "y": 1000,
        "wires": [
            [
                "40ca5ce3.622acc",
                "5f9d4547.1cd7c4"
            ],
            [
                "dd72a233.b411d"
            ]
        ]
    },
    {
        "id": "80b7173c.a29828",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 21,
        "width": 0,
        "height": 0,
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "979ff12.e62269",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1130,
        "y": 1100,
        "wires": [
            [
                "80b7173c.a29828",
                "dd72a233.b411d",
                "79f27d56.e26a84"
            ]
        ]
    },
    {
        "id": "f06a5943.32bfe8",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "setZero",
        "topicType": "str",
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "892f814c.4627c",
        "type": "phidget22-encoder",
        "z": "d0319a94.933848",
        "d": true,
        "g": "f0fc5028.32d6a8",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "0",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "100",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 490,
        "y": 940,
        "wires": [
            [
                "5623a3ce.79f00c"
            ]
        ]
    },
    {
        "id": "dd72a233.b411d",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "d": true,
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 22,
        "width": 0,
        "height": 0,
        "label": "Velocity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1600,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "be9a7643.78ca9",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":0}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "45ed5a16.182514",
                "e8387c47.c368f"
            ]
        ]
    },
    {
        "id": "b256bd2c.0de278",
        "type": "phidget22-digitaloutput",
        "z": "d0319a94.933848",
        "g": "820e06a1.dbb25",
        "channel": "1",
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 2560,
        "y": 260,
        "wires": [
            [
                "e90b7848.32fa18"
            ]
        ]
    },
    {
        "id": "ae3095c9.296df",
        "type": "phidget22-voltageoutput",
        "z": "d0319a94.933848",
        "g": "cdea3450.e3356",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": "1",
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2510,
        "y": 880,
        "wires": [
            [
                "a6efcee1.a9be"
            ]
        ]
    },
    {
        "id": "5623a3ce.79f00c",
        "type": "change",
        "z": "d0319a94.933848",
        "d": true,
        "g": "f0fc5028.32d6a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 940,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "e99b152e.4aa8",
        "type": "phidget22-encoder",
        "z": "d0319a94.933848",
        "g": "2f6fa9c1.a66a06",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "1",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "100",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "979cc689.b8cd7"
            ]
        ]
    },
    {
        "id": "979cc689.b8cd7",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "2f6fa9c1.a66a06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "8909f25a.d441f8",
        "type": "inject",
        "z": "d0319a94.933848",
        "d": true,
        "name": "setVoltageOutputRange",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "setVoltageOutputRange",
        "payload": "{\"voltageOutputRange\":1}",
        "payloadType": "json",
        "x": 2070,
        "y": 900,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "f96c8693.a54ce",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDutyCycle 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dutyCycle\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 480,
        "wires": [
            [
                "9d50d517.5cfeb8",
                "96d291ae.3028c8"
            ]
        ]
    },
    {
        "id": "4ace9692.d8fcf8",
        "type": "easing",
        "z": "d0319a94.933848",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "overTime",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 1450,
        "y": 400,
        "wires": [
            [
                "7d6aab10.f2158c"
            ]
        ]
    },
    {
        "id": "7d6aab10.f2158c",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setVoltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":(payload)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 400,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "636189.bb35b678",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "range",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"from\" : 1.3 , \"to\" : ($flowContext('p_fixed'))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 400,
        "wires": [
            [
                "4ace9692.d8fcf8"
            ]
        ]
    },
    {
        "id": "e8387c47.c368f",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "f96c8693.a54ce"
            ]
        ]
    },
    {
        "id": "9d50d517.5cfeb8",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "636189.bb35b678",
                "b9c90ff2.aefc"
            ]
        ]
    },
    {
        "id": "52b0759b.5c6144",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "be9a7643.78ca9",
                "eaddfd57.90b278"
            ]
        ]
    },
    {
        "id": "b9c90ff2.aefc",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "f06a5943.32bfe8",
                "f1533de2.55f39"
            ]
        ]
    },
    {
        "id": "74e8f634.417238",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "d0266af7.3d318",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2710,
        "y": 780,
        "wires": []
    },
    {
        "id": "d08d3fe5.477d28",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Release",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "{\"voltage\":0}",
        "payloadType": "json",
        "topic": "setVoltage",
        "topicType": "str",
        "x": 2020,
        "y": 840,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "a6efcee1.a9be",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "cdea3450.e3356",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2710,
        "y": 880,
        "wires": []
    },
    {
        "id": "fd4bd9d6.0a6458",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "f101bbae.4501b",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 140,
        "wires": []
    },
    {
        "id": "e90b7848.32fa18",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "820e06a1.dbb25",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 260,
        "wires": []
    },
    {
        "id": "fbe9745d.1ea818",
        "type": "inject",
        "z": "d0319a94.933848",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "defa6653.ed7bb"
            ]
        ]
    },
    {
        "id": "defa6653.ed7bb",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "name": "",
        "label": "dataInterval",
        "tooltip": "This is the data acquisition period from the encoder",
        "group": "63b898e3.cb88b",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setDataInterval",
        "topicType": "str",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "440ac494.fdb3dc"
            ]
        ]
    },
    {
        "id": "440ac494.fdb3dc",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDataInterval",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dataInterval\":(msg.payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDataInterval",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 980,
        "wires": [
            [
                "892f814c.4627c",
                "e99b152e.4aa8"
            ]
        ]
    },
    {
        "id": "d923e526.0fbbc8",
        "type": "PID",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0.5",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "f3d3e8d.b1ffb18",
                "74b92fa9.bc2ef8"
            ]
        ]
    },
    {
        "id": "f3d3e8d.b1ffb18",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "if enabled",
        "property": "pid",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1180,
        "y": 1620,
        "wires": [
            [
                "f844d6f3.98934",
                "b6b47bfb.b9c7",
                "c30645ed.f3e9b8",
                "593588ed.fa436"
            ]
        ]
    },
    {
        "id": "f844d6f3.98934",
        "type": "function",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "func": "var p_min = flow.get('p_min');\n\nvar p_max = flow.get('p_max');\n\nvar power = msg.payload;\n\nvar p_band = p_max-p_min;\n\nvar v1 = p_min + p_band * power;\nvar v2 = p_min + p_band * (1-power);\n\nmsg1 = {topic:'setVoltage', payload:{voltage:v1}};\nmsg2 = {topic:'setVoltage', payload:{voltage:v2}};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1380,
        "y": 1620,
        "wires": [
            [
                "fe4fc6e7.d1b8a8",
                "ae3095c9.296df"
            ],
            [
                "59c76b4e.7e0824"
            ]
        ]
    },
    {
        "id": "fe4fc6e7.d1b8a8",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 1620,
        "wires": []
    },
    {
        "id": "40ca5ce3.622acc",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "only ARM 2",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ARM2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 1460,
        "wires": [
            [
                "d923e526.0fbbc8",
                "cd8c04d3.3ba4a"
            ]
        ]
    },
    {
        "id": "cd8c04d3.3ba4a",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4529cb84.9e61e4",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1480,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "928bd9ee.086758",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "setpoint",
        "tooltip": "ARM 2 position in mm",
        "group": "63b898e3.cb88b",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setpoint",
        "topicType": "str",
        "x": 380,
        "y": 1620,
        "wires": [
            [
                "c540541b.9272c"
            ]
        ]
    },
    {
        "id": "30ac5379.05f964",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "prop_band",
        "tooltip": "Smaller number means larger gain",
        "group": "63b898e3.cb88b",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "prop_band",
        "topicType": "str",
        "x": 510,
        "y": 1680,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "208ab9e6.260da6",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "t_integral",
        "tooltip": "Smaller number larger effect",
        "group": "63b898e3.cb88b",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "t_integral",
        "topicType": "str",
        "x": 500,
        "y": 1740,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "3144c391.fb96cc",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "t_derivative",
        "tooltip": "Larger number larger effect",
        "group": "63b898e3.cb88b",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "t_derivative",
        "topicType": "str",
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "ed7a0083.840a8",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_min",
        "tooltip": "Maximum pressure per piston (up to 5V)",
        "group": "63b898e3.cb88b",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1860,
        "wires": [
            [
                "83b9eaa6.6df188"
            ]
        ]
    },
    {
        "id": "83b9eaa6.6df188",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "1cee2d2.0ccef53",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 310,
        "y": 1860,
        "wires": [
            [
                "ed7a0083.840a8"
            ]
        ]
    },
    {
        "id": "f6aacab9.47a55",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 310,
        "y": 1680,
        "wires": [
            [
                "30ac5379.05f964"
            ]
        ]
    },
    {
        "id": "fb83cd3e.e366f",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 310,
        "y": 1740,
        "wires": [
            [
                "208ab9e6.260da6"
            ]
        ]
    },
    {
        "id": "a1eea51d.35551",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.02",
        "payloadType": "num",
        "x": 310,
        "y": 1800,
        "wires": [
            [
                "3144c391.fb96cc"
            ]
        ]
    },
    {
        "id": "cff61e50.dc3e38",
        "type": "ui_switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "PID",
        "tooltip": "",
        "group": "63b898e3.cb88b",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "86438710.3138b8"
            ]
        ]
    },
    {
        "id": "86438710.3138b8",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1520,
        "wires": [
            [
                "4529cb84.9e61e4"
            ],
            [
                "8f0a5252.c285e"
            ]
        ]
    },
    {
        "id": "8f0a5252.c285e",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1540,
        "wires": [
            [
                "d923e526.0fbbc8",
                "e0c7ed2f.e6a848"
            ]
        ]
    },
    {
        "id": "953a15c9.a2efc8",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 1520,
        "wires": [
            [
                "cff61e50.dc3e38"
            ]
        ]
    },
    {
        "id": "79f27d56.e26a84",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 24,
        "width": 0,
        "height": 0,
        "label": "Power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "This is the power fed into ARM2 for position control.",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1630,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b47bfb.b9c7",
        "type": "smooth",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 1460,
        "y": 1480,
        "wires": [
            [
                "79f27d56.e26a84"
            ]
        ]
    },
    {
        "id": "5f9d4547.1cd7c4",
        "type": "smooth",
        "z": "d0319a94.933848",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "multi",
        "reduce": true,
        "x": 1440,
        "y": 960,
        "wires": [
            [
                "80b7173c.a29828"
            ]
        ]
    },
    {
        "id": "5c35ae40.3768d8",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 310,
        "y": 1900,
        "wires": [
            [
                "d392afce.2cd8c"
            ]
        ]
    },
    {
        "id": "d392afce.2cd8c",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_max",
        "tooltip": "Minimum pressure per piston (up to 5V)",
        "group": "63b898e3.cb88b",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1900,
        "wires": [
            [
                "d7fa507f.9f39e8"
            ]
        ]
    },
    {
        "id": "d7fa507f.9f39e8",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "c30645ed.f3e9b8",
        "type": "change",
        "z": "d0319a94.933848",
        "d": true,
        "g": "7ad6244d.80c54c",
        "name": "fix ARM 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":($flowContext('p_fixed')) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 1360,
        "wires": [
            [
                "59c76b4e.7e0824",
                "78544575.d6fcfc"
            ]
        ]
    },
    {
        "id": "f4ace7a2.bec3c",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "c622cdd4.6d49c8",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "447b363b.143fe"
            ]
        ]
    },
    {
        "id": "27ab509f.2f5a1",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "8d7f6ed9.f5bfc",
        "channel": "3",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "e81ee176.c179d"
            ]
        ]
    },
    {
        "id": "7a3fcb86.106d54",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "ea8e2d80.cca938",
        "channel": "2",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ce2f9e71.91f2d8"
            ]
        ]
    },
    {
        "id": "bb7805c0.6e3c5",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "c8eb7a57.12867",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "cf55608b.8e8898"
            ]
        ]
    },
    {
        "id": "298a8da3.652f8a",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "28aecd54.73035a",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "6726f17e.41e248"
            ]
        ]
    },
    {
        "id": "bceb360e.7706c8",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "f1b297d3.86f74",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 2000,
        "wires": [
            [
                "15f3545e.f7b76c"
            ]
        ]
    },
    {
        "id": "cf55608b.8e8898",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "c8eb7a57.12867",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1800,
        "wires": [
            [
                "69d52ab8.c0e754"
            ]
        ]
    },
    {
        "id": "6726f17e.41e248",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "28aecd54.73035a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "15f3545e.f7b76c",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "f1b297d3.86f74",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "257e7bac.6143d4",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "de28e6a4.6494e",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "6b81a524.a81a64"
            ]
        ]
    },
    {
        "id": "6b81a524.a81a64",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "de28e6a4.6494e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "c944433b.05ffa8",
                "1fb65c13.fab20c"
            ]
        ]
    },
    {
        "id": "447b363b.143fe",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "c622cdd4.6d49c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "c944433b.05ffa8",
                "689e1002.bb3d"
            ]
        ]
    },
    {
        "id": "ce2f9e71.91f2d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "ea8e2d80.cca938",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "c944433b.05ffa8",
                "107c791c.6194ef"
            ]
        ]
    },
    {
        "id": "e81ee176.c179d",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "8d7f6ed9.f5bfc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "c944433b.05ffa8",
                "1cf2ba34.c1971e"
            ]
        ]
    },
    {
        "id": "c944433b.05ffa8",
        "type": "function",
        "z": "472cf316.a032c4",
        "name": "",
        "func": "if (msg.topic == 'TemperatureChange') {\n//msg.payload = msg.payload.temperature.toFixed(1);\nmsg.topic = msg.label;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 140,
        "wires": [
            [
                "11623147.a352af"
            ]
        ]
    },
    {
        "id": "69d52ab8.c0e754",
        "type": "function",
        "z": "472cf316.a032c4",
        "name": "",
        "func": "if (msg.topic != 'TemperatureChange') {\nmsg.payload = msg.payload.temperature.toFixed(1);\nmsg.topic = msg.label;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "ebe656f9.46d76",
        "type": "ui_button",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 910,
        "y": 40,
        "wires": [
            [
                "11623147.a352af",
                "1d5da6b.b9983d9"
            ]
        ]
    },
    {
        "id": "4282a3a7.3667ec",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "864361a2.693d7",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1fb65c13.fab20c",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "3c3098f2.a34d8"
            ]
        ]
    },
    {
        "id": "1d5da6b.b9983d9",
        "type": "ui_chart",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 9,
        "width": "9",
        "height": "6",
        "label": "Power",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a62512b8.b94b3",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "d222f179.56a9c8"
            ]
        ]
    },
    {
        "id": "d222f179.56a9c8",
        "type": "ui_switch",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "PID",
        "tooltip": "",
        "group": "fa943f83.ed6f3",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "9064f83f.8efc9"
            ]
        ]
    },
    {
        "id": "9064f83f.8efc9",
        "type": "switch",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "1c92f36.f5be38d"
            ],
            [
                "51b0c33e.bf4c2c"
            ]
        ]
    },
    {
        "id": "1c92f36.f5be38d",
        "type": "change",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "51b0c33e.bf4c2c",
        "type": "change",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf2debf.e33452",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "t_derivative",
        "tooltip": "Larger number larger effect",
        "group": "fa943f83.ed6f3",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "t_derivative",
        "topicType": "str",
        "x": 550,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f85bd3b0.a3f108",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "2bf2debf.e33452"
            ]
        ]
    },
    {
        "id": "6a38adc3.aa3314",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "65536",
        "payloadType": "num",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "8c388f0e.2c2008"
            ]
        ]
    },
    {
        "id": "8c388f0e.2c2008",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "t_integral",
        "tooltip": "Smaller number larger effect",
        "group": "fa943f83.ed6f3",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "t_integral",
        "topicType": "str",
        "x": 540,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "32e3274.bd4bd58",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "prop_band",
        "tooltip": "Smaller number means larger gain",
        "group": "fa943f83.ed6f3",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "prop_band",
        "topicType": "str",
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ec48fbd2.d8f7e",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "setpoint",
        "tooltip": "Temperature in C",
        "group": "fa943f83.ed6f3",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setpoint",
        "topicType": "str",
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "933c950d.c810f8",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "ec48fbd2.d8f7e"
            ]
        ]
    },
    {
        "id": "8c8f4b52.08b95",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "32e3274.bd4bd58"
            ]
        ]
    },
    {
        "id": "71893d52.dfad9c",
        "type": "subflow:d0918bb.4ce8878",
        "z": "472cf316.a032c4",
        "name": "PID params",
        "env": [],
        "x": 850,
        "y": 1380,
        "wires": [
            [
                "1fb65c13.fab20c",
                "689e1002.bb3d",
                "107c791c.6194ef",
                "1cf2ba34.c1971e"
            ]
        ]
    },
    {
        "id": "f15d55fe.96273",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "412e4124.cd2d18",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "671a928a.47199c"
            ]
        ]
    },
    {
        "id": "c3887544.7385d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "864361a2.693d7",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 340,
        "wires": [
            [
                "4282a3a7.3667ec"
            ]
        ]
    },
    {
        "id": "3c3098f2.a34d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "f15d55fe.96273",
                "1d5da6b.b9983d9"
            ]
        ]
    },
    {
        "id": "689e1002.bb3d",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "2ff0d7fd.06ce6"
            ]
        ]
    },
    {
        "id": "2ff0d7fd.06ce6",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "c3887544.7385d8"
            ]
        ]
    },
    {
        "id": "107c791c.6194ef",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "287ab0bc.6a63e8"
            ]
        ]
    },
    {
        "id": "287ab0bc.6a63e8",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "2e3994f.0fbdc6c"
            ]
        ]
    },
    {
        "id": "5a69be94.4a9278",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "a66af1c7.2c52e8",
        "channel": "2",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2e3994f.0fbdc6c",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "a66af1c7.2c52e8",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 440,
        "wires": [
            [
                "5a69be94.4a9278"
            ]
        ]
    },
    {
        "id": "1cf2ba34.c1971e",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "81085b2d.41e3b"
            ]
        ]
    },
    {
        "id": "81085b2d.41e3b",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 540,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "4024fc44.4a45ac"
            ]
        ]
    },
    {
        "id": "21c2048c.fcca44",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "db10a9d6.3cf4e8",
        "channel": "3",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4024fc44.4a45ac",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "db10a9d6.3cf4e8",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 540,
        "wires": [
            [
                "21c2048c.fcca44"
            ]
        ]
    },
    {
        "id": "c04ebff4.2d987",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "4a6d0eb9.05129",
        "channel": "3",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "9b07e55d.6da5b"
            ]
        ]
    },
    {
        "id": "9b07e55d.6da5b",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "4a6d0eb9.05129",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC8",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "31fc6597.3b1122",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "d32a617b.531d98",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 800,
        "wires": [
            [
                "aa2b1935.5a6858"
            ]
        ]
    },
    {
        "id": "aa2b1935.5a6858",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "d32a617b.531d98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "e417d705.6ef3",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "e29bdb60.c65598",
        "channel": "2",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 900,
        "wires": [
            [
                "906c821c.7de538"
            ]
        ]
    },
    {
        "id": "906c821c.7de538",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "e29bdb60.c65598",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC7",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 900,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "f9ee7d4b.00db58",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "2bdf9297.27d11e",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "52403feb.1c7428"
            ]
        ]
    },
    {
        "id": "52403feb.1c7428",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "2bdf9297.27d11e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "cf4077f4.f30dc",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "981bb9d1.31d21",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "6c8d2b98.f855bc"
            ]
        ]
    },
    {
        "id": "6c8d2b98.f855bc",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "981bb9d1.31d21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC10",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "26fec770.ee05b",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "c38e4093.6b7da",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "ab7f6598.9cfbc"
            ]
        ]
    },
    {
        "id": "ab7f6598.9cfbc",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "c38e4093.6b7da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC9",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "ce872039.a3b0d8",
        "type": "inject",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "234229e9.2c0656"
            ]
        ]
    },
    {
        "id": "234229e9.2c0656",
        "type": "ui_text_input",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "",
        "label": "dataInterval",
        "tooltip": "This is the data acquisition period from the encoder",
        "group": "fa943f83.ed6f3",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setDataInterval",
        "topicType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "72a823c7.381864"
            ]
        ]
    },
    {
        "id": "72a823c7.381864",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "setDataInterval",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dataInterval\":(msg.payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDataInterval",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "f9ee7d4b.00db58",
                "27ab509f.2f5a1",
                "7a3fcb86.106d54",
                "31fc6597.3b1122",
                "e417d705.6ef3",
                "c04ebff4.2d987",
                "26fec770.ee05b",
                "cf4077f4.f30dc",
                "f4ace7a2.bec3c",
                "257e7bac.6143d4"
            ]
        ]
    },
    {
        "id": "23e35199.a3a486",
        "type": "switch",
        "z": "d0319a94.933848",
        "name": "isBusy",
        "property": "busy",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "52b0759b.5c6144"
            ],
            [
                "ac15316d.3f788"
            ]
        ]
    },
    {
        "id": "ac15316d.3f788",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "be9a7643.78ca9",
                "eaddfd57.90b278"
            ]
        ]
    },
    {
        "id": "4771d575.c3e9d4",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1670,
        "y": 660,
        "wires": [
            [
                "2e1ad126.7cef2e"
            ]
        ]
    },
    {
        "id": "2e1ad126.7cef2e",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 660,
        "wires": [
            [
                "98e7d7ec.a54"
            ]
        ]
    },
    {
        "id": "4ce88669.ad009",
        "type": "link in",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "direction",
        "links": [
            "96d291ae.3028c8",
            "f4dcbb6e.00a928"
        ],
        "x": 2375,
        "y": 200,
        "wires": [
            [
                "c64d78f8.5a62b8",
                "b256bd2c.0de278"
            ]
        ]
    },
    {
        "id": "96d291ae.3028c8",
        "type": "link out",
        "z": "d0319a94.933848",
        "name": "",
        "links": [
            "4ce88669.ad009"
        ],
        "x": 1115,
        "y": 380,
        "wires": []
    },
    {
        "id": "16f1cae9.eb0345",
        "type": "link in",
        "z": "d0319a94.933848",
        "name": "release",
        "links": [
            "444e409f.1f668",
            "b84804e1.e5ceb",
            "bcc3ea9a.8b8038"
        ],
        "x": 1815,
        "y": 840,
        "wires": [
            [
                "d08d3fe5.477d28"
            ]
        ]
    },
    {
        "id": "444e409f.1f668",
        "type": "link out",
        "z": "d0319a94.933848",
        "g": "cb43bea3.11cb2",
        "name": "",
        "links": [
            "16f1cae9.eb0345"
        ],
        "x": 755,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1533de2.55f39",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1510,
        "y": 660,
        "wires": [
            [
                "d08d3fe5.477d28",
                "4771d575.c3e9d4"
            ]
        ]
    },
    {
        "id": "45ed5a16.182514",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "444e409f.1f668"
            ]
        ]
    },
    {
        "id": "db263c21.5bbf08",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_fixed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "3793a19e.24aede",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_fixed",
        "tooltip": "This is the constant pressure on Arm 1",
        "group": "63b898e3.cb88b",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 1940,
        "wires": [
            [
                "db263c21.5bbf08"
            ]
        ]
    },
    {
        "id": "69d1090a.341778",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "$flowContext('p_min') + ( $flowContext('p_max') - $flowContext('p_min') )/2",
        "payloadType": "jsonata",
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "3793a19e.24aede"
            ]
        ]
    },
    {
        "id": "eaddfd57.90b278",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":1}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "45ed5a16.182514",
                "70b13ed2.1daad8"
            ]
        ]
    },
    {
        "id": "7b6fc4a.27cdd3c",
        "type": "inject",
        "z": "d0319a94.933848",
        "name": "update",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "23e35199.a3a486"
            ]
        ]
    },
    {
        "id": "78544575.d6fcfc",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 1360,
        "wires": []
    },
    {
        "id": "189fee52.ed6812",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDutyCycle 0",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dutyCycle\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "96d291ae.3028c8",
                "e518e916.e00d08"
            ]
        ]
    },
    {
        "id": "70b13ed2.1daad8",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "189fee52.ed6812"
            ]
        ]
    },
    {
        "id": "e518e916.e00d08",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1152.857177734375,
        "y": 280,
        "wires": [
            [
                "41ed8cb9.cbc99c",
                "636189.bb35b678"
            ]
        ]
    },
    {
        "id": "41ed8cb9.cbc99c",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1340,
        "y": 280,
        "wires": [
            [
                "d18923f5.37a388"
            ]
        ]
    },
    {
        "id": "d18923f5.37a388",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "64621ee3.0ef0b8",
        "type": "easing",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "easingType": "linear",
        "outputType": "overTime",
        "duration": "10000",
        "interval": "500",
        "numberOfValues": 10,
        "x": 750,
        "y": 1620,
        "wires": [
            [
                "d923e526.0fbbc8",
                "bda377f2.09166"
            ]
        ]
    },
    {
        "id": "6106ad0a.9d6b44",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"from\" : ($flowContext('positions').ARM2) ,\t   \"to\" : (payload)\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "e0c7ed2f.e6a848",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round($flowContext('positions').ARM2, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "928bd9ee.086758"
            ]
        ]
    },
    {
        "id": "bda377f2.09166",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1800,
        "wires": []
    },
    {
        "id": "74b92fa9.bc2ef8",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 1740,
        "wires": []
    },
    {
        "id": "c540541b.9272c",
        "type": "function",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "func": "var position = Math.round(flow.get('positions').ARM2*10)/10;\nvar destination = msg.payload;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 1000; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                duration:duration, \n                interval:interval };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "64621ee3.0ef0b8"
            ]
        ]
    },
    {
        "id": "593588ed.fa436",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "setpoint",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1260,
        "wires": [
            [
                "5f9d4547.1cd7c4"
            ]
        ]
    },
    {
        "id": "98e7d7ec.a54",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDutyCycle 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dutyCycle\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 480,
        "wires": [
            [
                "c64d78f8.5a62b8",
                "b256bd2c.0de278"
            ]
        ]
    },
    {
        "id": "9a8fc17c.a89fb8",
        "type": "phidget22-connect",
        "z": "36a8cb83.a57434",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 110,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e72c29fd.bf0e3",
        "type": "phidget22-encoder",
        "z": "36a8cb83.a57434",
        "g": "bec3217e.4170d8",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "3",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "100",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "64b162a7.b71a4c"
            ]
        ]
    },
    {
        "id": "64b162a7.b71a4c",
        "type": "change",
        "z": "36a8cb83.a57434",
        "g": "bec3217e.4170d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 880,
        "wires": [
            [
                "96d79d6e.fa735"
            ]
        ]
    },
    {
        "id": "cf1edc02.aaf2f",
        "type": "phidget22-encoder",
        "z": "36a8cb83.a57434",
        "g": "83dfa8bc.276bd8",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "2",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "100",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "65d8c6bb.82ba28"
            ]
        ]
    },
    {
        "id": "65d8c6bb.82ba28",
        "type": "change",
        "z": "36a8cb83.a57434",
        "g": "83dfa8bc.276bd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 780,
        "wires": [
            [
                "96d79d6e.fa735"
            ]
        ]
    },
    {
        "id": "c1aa820a.1ba138",
        "type": "inject",
        "z": "36a8cb83.a57434",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "87fe98c0.9335b"
            ]
        ]
    },
    {
        "id": "87fe98c0.9335b",
        "type": "ui_text_input",
        "z": "36a8cb83.a57434",
        "name": "",
        "label": "dataInterval",
        "tooltip": "This is the data acquisition period from the encoder",
        "group": "f277b7b3.2f1898",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setDataInterval",
        "topicType": "str",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "d296d9be.0ea1f8"
            ]
        ]
    },
    {
        "id": "d296d9be.0ea1f8",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "setDataInterval",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dataInterval\":(msg.payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDataInterval",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "cf1edc02.aaf2f",
                "e72c29fd.bf0e3"
            ]
        ]
    },
    {
        "id": "b586528c.d6cc68",
        "type": "phidget22-voltageoutput",
        "z": "36a8cb83.a57434",
        "g": "2ba23474.d0cf14",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": "3",
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2210,
        "y": 700,
        "wires": [
            [
                "c0baf15b.3c37a8"
            ]
        ]
    },
    {
        "id": "c0baf15b.3c37a8",
        "type": "debug",
        "z": "36a8cb83.a57434",
        "g": "2ba23474.d0cf14",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2410,
        "y": 700,
        "wires": []
    },
    {
        "id": "d0b2da9d.a5d1c",
        "type": "phidget22-voltageoutput",
        "z": "36a8cb83.a57434",
        "g": "43b6fbc7.822c84",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": "2",
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2210,
        "y": 600,
        "wires": [
            [
                "e6ecf5dc.17cc1"
            ]
        ]
    },
    {
        "id": "e6ecf5dc.17cc1",
        "type": "debug",
        "z": "36a8cb83.a57434",
        "g": "43b6fbc7.822c84",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2410,
        "y": 600,
        "wires": []
    },
    {
        "id": "96d79d6e.fa735",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "Track position",
        "func": "var positions = flow.get('positions');\n\nif (msg.topic == 'PositionChange') {\n\n    if (msg.label in positions) {\n        position = positions[msg.label]\n    }\n    else {\n        position = 0;\n    }\n\n    // 2 mm pole length\n    // 4096 interpolated steps\n    // RLM2HDA12B\n    \n    var positionChange = -msg.payload.positionChange*2/4096;\n    \n    position += positionChange;\n    \n    positions[msg.label] = position;\n    \n    flow.set('positions', positions);\n    \n    var velocity = positionChange/msg.payload.timeChange;\n    \n    var pos = { topic: msg.label,  payload: position }\n    var vel = { topic: msg.label,  payload: velocity }\n    \n    return [pos, vel]\n}\nelse if (msg.topic == 'setZero') { \n    for (var label in positions) {\n        positions[label]=0\n    }\n    \n    flow.set('positions', positions);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('positions', {});",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 920,
        "wires": [
            [
                "7c65bbe1.e4efe4"
            ],
            [
                "91ade881.e0e318"
            ]
        ]
    },
    {
        "id": "3094f702.60c98",
        "type": "ui_chart",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1800,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d18876.f61018",
        "type": "ui_button",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1330,
        "y": 1020,
        "wires": [
            [
                "3094f702.60c98",
                "91ade881.e0e318"
            ]
        ]
    },
    {
        "id": "15eac1fe.72dd1e",
        "type": "ui_button",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "setZero",
        "topicType": "str",
        "x": 1210,
        "y": 840,
        "wires": [
            [
                "96d79d6e.fa735"
            ]
        ]
    },
    {
        "id": "91ade881.e0e318",
        "type": "ui_chart",
        "z": "36a8cb83.a57434",
        "d": true,
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 23,
        "width": 0,
        "height": 0,
        "label": "Velocity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1800,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "7c65bbe1.e4efe4",
        "type": "smooth",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "multi",
        "reduce": true,
        "x": 1640,
        "y": 880,
        "wires": [
            [
                "3094f702.60c98"
            ]
        ]
    },
    {
        "id": "453b7501.f48674",
        "type": "ui_button",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":0}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "1356ca67.7f0946",
                "3ca6ca7.541f5b6"
            ]
        ]
    },
    {
        "id": "205c5a38.e615fe",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "453b7501.f48674",
                "378b79f3.b9a3ce"
            ]
        ]
    },
    {
        "id": "b49a41a1.3df3a8",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "isBusy",
        "property": "busy",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "205c5a38.e615fe"
            ],
            [
                "7cd2766d.9bf4f8"
            ]
        ]
    },
    {
        "id": "7cd2766d.9bf4f8",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "453b7501.f48674",
                "378b79f3.b9a3ce"
            ]
        ]
    },
    {
        "id": "1356ca67.7f0946",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "setBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "378b79f3.b9a3ce",
        "type": "ui_button",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":1}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "1356ca67.7f0946",
                "8aba4368.0d98"
            ]
        ]
    },
    {
        "id": "5cbae1da.ea1f9",
        "type": "inject",
        "z": "36a8cb83.a57434",
        "name": "update",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "b49a41a1.3df3a8"
            ]
        ]
    },
    {
        "id": "ef46928d.95e0b",
        "type": "change",
        "z": "36a8cb83.a57434",
        "g": "43b6fbc7.822c84",
        "name": "setVoltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pressures.ARM3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":(payload)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 600,
        "wires": [
            [
                "d0b2da9d.a5d1c"
            ]
        ]
    },
    {
        "id": "e339ec2d.5e005",
        "type": "inject",
        "z": "36a8cb83.a57434",
        "name": "init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "bf0e6ea8.cacf5"
            ]
        ]
    },
    {
        "id": "bf0e6ea8.cacf5",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pressures",
                "pt": "flow",
                "to": "{\"ARM3\":0, \"ARM4\":0}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "p_float",
                "pt": "flow",
                "to": "{\"ARM3\":5.9, \"ARM4\":9}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "be4080be.980bb",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 970,
        "y": 500,
        "wires": [
            [
                "8d3a9d47.4bf428"
            ]
        ]
    },
    {
        "id": "d93aad88.4785e8",
        "type": "change",
        "z": "36a8cb83.a57434",
        "g": "2ba23474.d0cf14",
        "name": "setVoltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pressures.ARM4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":(payload)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 700,
        "wires": [
            [
                "b586528c.d6cc68"
            ]
        ]
    },
    {
        "id": "cf31de12.1ed858",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM4;\nvar destination = 0;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 500,
        "wires": [
            [
                "be4080be.980bb"
            ]
        ]
    },
    {
        "id": "8d3a9d47.4bf428",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "d32276c4.d7aec8"
            ]
        ]
    },
    {
        "id": "d32276c4.d7aec8",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1280,
        "y": 500,
        "wires": [
            [
                "dde59eb4.b51be",
                "d93aad88.4785e8"
            ]
        ]
    },
    {
        "id": "dde59eb4.b51be",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1470,
        "y": 500,
        "wires": [
            [
                "74c7f506.0c5b5c"
            ]
        ]
    },
    {
        "id": "73bcc5d5.cac84c",
        "type": "inject",
        "z": "36a8cb83.a57434",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "e30fcb4b.c5078"
            ]
        ]
    },
    {
        "id": "e30fcb4b.c5078",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pressures.ARM4",
                "pt": "flow",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "359553cd.fb05cc",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 970,
        "y": 420,
        "wires": [
            [
                "e7229cf1.686828"
            ]
        ]
    },
    {
        "id": "3ca6ca7.541f5b6",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM3;\nvar destination = 10;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "359553cd.fb05cc"
            ]
        ]
    },
    {
        "id": "e7229cf1.686828",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "b9191b42.30996"
            ]
        ]
    },
    {
        "id": "b9191b42.30996",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "ef46928d.95e0b",
                "f5ecda00.98c9c"
            ]
        ]
    },
    {
        "id": "f5ecda00.98c9c",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1470,
        "y": 420,
        "wires": [
            [
                "cf31de12.1ed858"
            ]
        ]
    },
    {
        "id": "74c7f506.0c5b5c",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 940,
        "y": 600,
        "wires": [
            [
                "efad516c.4717a"
            ]
        ]
    },
    {
        "id": "efad516c.4717a",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "15eac1fe.72dd1e"
            ]
        ]
    },
    {
        "id": "872d92af.0a0688",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "b7110cbc.13f2c8"
            ]
        ]
    },
    {
        "id": "8aba4368.0d98",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM4;\nvar destination = flow.get('p_float').ARM4;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "872d92af.0a0688"
            ]
        ]
    },
    {
        "id": "b7110cbc.13f2c8",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "6860fc49.342614"
            ]
        ]
    },
    {
        "id": "6860fc49.342614",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "10cd90b1.e3cb17",
                "d93aad88.4785e8"
            ]
        ]
    },
    {
        "id": "10cd90b1.e3cb17",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 280,
        "wires": [
            [
                "e25be2f.d1ff02"
            ]
        ]
    },
    {
        "id": "c5bac155.4236",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "74800cbf.723cfc"
            ]
        ]
    },
    {
        "id": "e25be2f.d1ff02",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM3;\nvar destination = flow.get('p_float').ARM3;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "c5bac155.4236"
            ]
        ]
    },
    {
        "id": "74800cbf.723cfc",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "3f7e28d6.3eaba"
            ]
        ]
    },
    {
        "id": "3f7e28d6.3eaba",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1320,
        "y": 200,
        "wires": [
            [
                "69d200b2.86fb58",
                "ef46928d.95e0b"
            ]
        ]
    },
    {
        "id": "69d200b2.86fb58",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "887d1b1e.9053"
            ]
        ]
    },
    {
        "id": "d5fa8cac.d2f35",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "21cd9c6f.1f3cec",
        "type": "ui_button",
        "z": "36a8cb83.a57434",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Release",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "{\"voltage\":0}",
        "payloadType": "json",
        "topic": "setVoltage",
        "topicType": "str",
        "x": 1660,
        "y": 340,
        "wires": [
            [
                "32db5e68.25b522"
            ]
        ]
    },
    {
        "id": "565db1a5.833e4",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 2130,
        "y": 380,
        "wires": [
            [
                "bdbfe14.95c922"
            ]
        ]
    },
    {
        "id": "46c0b3af.048a3c",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM4;\nvar destination = 0;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 380,
        "wires": [
            [
                "565db1a5.833e4"
            ]
        ]
    },
    {
        "id": "bdbfe14.95c922",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2270,
        "y": 380,
        "wires": [
            [
                "dce731c5.274ce"
            ]
        ]
    },
    {
        "id": "dce731c5.274ce",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2440,
        "y": 380,
        "wires": [
            [
                "fa344fa0.996ae",
                "d93aad88.4785e8"
            ]
        ]
    },
    {
        "id": "fa344fa0.996ae",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2630,
        "y": 380,
        "wires": [
            [
                "f3b03ea1.f4b88"
            ]
        ]
    },
    {
        "id": "3dccf4a8.2a5a14",
        "type": "easing",
        "z": "36a8cb83.a57434",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "asArray",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 2130,
        "y": 280,
        "wires": [
            [
                "4a064a28.4dbcd4"
            ]
        ]
    },
    {
        "id": "f3b03ea1.f4b88",
        "type": "function",
        "z": "36a8cb83.a57434",
        "name": "",
        "func": "var position = flow.get('pressures').ARM3;\nvar destination = 0;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 100; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                size:nsteps };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 280,
        "wires": [
            [
                "3dccf4a8.2a5a14"
            ]
        ]
    },
    {
        "id": "4a064a28.4dbcd4",
        "type": "split",
        "z": "36a8cb83.a57434",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2270,
        "y": 280,
        "wires": [
            [
                "25a80d77.e144da"
            ]
        ]
    },
    {
        "id": "25a80d77.e144da",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2440,
        "y": 280,
        "wires": [
            [
                "a68c2a12.3dfc78",
                "ef46928d.95e0b"
            ]
        ]
    },
    {
        "id": "a68c2a12.3dfc78",
        "type": "switch",
        "z": "36a8cb83.a57434",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "(msg.parts.count-1)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2630,
        "y": 280,
        "wires": [
            [
                "8a5f5add.712318"
            ]
        ]
    },
    {
        "id": "32db5e68.25b522",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "setBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 340,
        "wires": [
            [
                "46c0b3af.048a3c"
            ]
        ]
    },
    {
        "id": "887d1b1e.9053",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1830,
        "y": 180,
        "wires": [
            [
                "d5fa8cac.d2f35"
            ]
        ]
    },
    {
        "id": "9bcbdfcf.126c4",
        "type": "change",
        "z": "36a8cb83.a57434",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8a5f5add.712318",
        "type": "delay",
        "z": "36a8cb83.a57434",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2830,
        "y": 280,
        "wires": [
            [
                "9bcbdfcf.126c4"
            ]
        ]
    },
    {
        "id": "a3e136d8.68c86",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_1_2.c_Vel",
        "datatype": "Float",
        "value": "",
        "name": "c_vel_1_2",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "92164c2e.bef808"
            ]
        ]
    },
    {
        "id": "53589b52.59558c",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "1d19f19a.77218e",
                "ad9d93b.9af6ff",
                "aba14372.4a0c08",
                "5252b032.0b85d",
                "a37af2b.9f3b59"
            ]
        ]
    },
    {
        "id": "1d19f19a.77218e",
        "type": "change",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "radius",
                "pt": "flow",
                "to": "50",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ad9d93b.9af6ff",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_1_2.c_Vel",
        "datatype": "Float",
        "value": "",
        "name": "c_vel_1_2",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "a162ba73.6f45"
            ]
        ]
    },
    {
        "id": "c588b9cf.e0f38",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "1fbcb51c.c3f67b"
            ]
        ]
    },
    {
        "id": "aba14372.4a0c08",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_1_2.State",
        "datatype": "Byte",
        "value": "",
        "name": "State_1_2",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "a162ba73.6f45"
            ]
        ]
    },
    {
        "id": "a162ba73.6f45",
        "type": "OpcUa-Client",
        "z": "cd3c6c14.6a19b8",
        "endpoint": "ffe1c026.b79e4",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "susbcribe",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "9ffa915e.f75f18"
            ]
        ]
    },
    {
        "id": "12c288f9.658adf",
        "type": "ui_text",
        "z": "cd3c6c14.6a19b8",
        "group": "63b898e3.cb88b",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "1fbcb51c.c3f67b",
        "type": "ui_button",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Stop",
        "tooltip": "Set velocity to 0",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "a3e136d8.68c86"
            ]
        ]
    },
    {
        "id": "42f4a4b5.e5858c",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "toRealUnit",
        "func": "// 0.01 is due to second gearbox not accounted for in plc units\n// 60 is seconds to a minute\n// 2*pi*r is the circumference of the drive\n\ncoef = 0.01 * 60 * (2 * Math.PI * flow.get('radius'));\n\nmsg.payload *= coef;\n\nmsg.payload = Math.round(msg.payload*100)/100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 300,
        "wires": [
            [
                "179c184a.b175e"
            ]
        ]
    },
    {
        "id": "a15c501.01ade3",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "mapState",
        "func": "var states = {0:\"INIT\",\n              10:\"POWER\",\n              20:\"STEADY\",\n              30:\"ACCELERATE\",\n              35:\"ACCELERATING\",\n              40:\"HALT\",\n              45:\"HALTING\"}\n\nmsg.payload = states[msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "94af6446.eca828"
            ]
        ]
    },
    {
        "id": "5252b032.0b85d",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_3_4.State",
        "datatype": "Byte",
        "value": "",
        "name": "State_3_4",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "a162ba73.6f45"
            ]
        ]
    },
    {
        "id": "8a59d842.ba7b3",
        "type": "ui_text",
        "z": "cd3c6c14.6a19b8",
        "group": "f277b7b3.2f1898",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1450,
        "y": 240,
        "wires": []
    },
    {
        "id": "a37af2b.9f3b59",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_3_4.c_Vel",
        "datatype": "Float",
        "value": "",
        "name": "c_vel_3_4",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "a162ba73.6f45"
            ]
        ]
    },
    {
        "id": "9ffa915e.f75f18",
        "type": "switch",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "property": "datatype",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Byte",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Float",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "a15c501.01ade3"
            ],
            [
                "42f4a4b5.e5858c"
            ]
        ]
    },
    {
        "id": "94af6446.eca828",
        "type": "switch",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "State_1_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "State_3_4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1260,
        "y": 200,
        "wires": [
            [
                "12c288f9.658adf"
            ],
            [
                "8a59d842.ba7b3"
            ]
        ]
    },
    {
        "id": "179c184a.b175e",
        "type": "switch",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "c_vel_1_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "c_vel_3_4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "77071c6d.6debc4"
            ],
            [
                "76c087d6.a0a8b8"
            ]
        ]
    },
    {
        "id": "76c087d6.a0a8b8",
        "type": "ui_text_input",
        "z": "cd3c6c14.6a19b8",
        "name": "Speed",
        "label": "Speed ",
        "tooltip": "mm/min",
        "group": "f277b7b3.2f1898",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "topicType": "str",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "4a6081fa.93ca68"
            ]
        ]
    },
    {
        "id": "4a6081fa.93ca68",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "fromRealUnit",
        "func": "// 0.01 is due to second gearbox not accounted for in plc units\n// 60 is seconds to a minute\n// 2*pi*r is the circumference of the drive\n\ncoef = 0.01 * 60 * (2 * Math.PI * flow.get('radius'));\n\nmsg.payload /= coef;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            [
                "7fafb64d.94d4a8"
            ]
        ]
    },
    {
        "id": "788c99bd.1e50f",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "1588df81.8b655"
            ]
        ]
    },
    {
        "id": "1588df81.8b655",
        "type": "ui_button",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "group": "f277b7b3.2f1898",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Stop",
        "tooltip": "Set velocity to 0 ",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "7fafb64d.94d4a8"
            ]
        ]
    },
    {
        "id": "7fafb64d.94d4a8",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.ARM_3_4.c_Vel",
        "datatype": "Float",
        "value": "",
        "name": "c_vel_3_4",
        "x": 740,
        "y": 640,
        "wires": [
            [
                "92164c2e.bef808"
            ]
        ]
    },
    {
        "id": "de5aed1f.ef0e38",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.IoConfig_Globals.ARM_1.fActVelocity",
        "datatype": "Double",
        "value": "",
        "name": "ARM_1",
        "x": 490,
        "y": 940,
        "wires": [
            [
                "3d281832.073bc8"
            ]
        ]
    },
    {
        "id": "8164ec7f.1a1348",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.IoConfig_Globals.ARM_2.fActVelocity",
        "datatype": "Double",
        "value": "",
        "name": "ARM_2",
        "x": 490,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "4c54d9e5.a378f8",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.IoConfig_Globals.ARM_3.fActVelocity",
        "datatype": "Double",
        "value": "",
        "name": "ARM_3",
        "x": 510,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "9305743.6cab688",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.IoConfig_Globals.ARM_4.fActVelocity",
        "datatype": "Double",
        "value": "",
        "name": "ARM_4",
        "x": 470,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f35fef.e57a48",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1020,
        "wires": [
            [
                "de5aed1f.ef0e38",
                "8164ec7f.1a1348",
                "4c54d9e5.a378f8",
                "9305743.6cab688"
            ]
        ]
    },
    {
        "id": "3d281832.073bc8",
        "type": "OpcUa-Client",
        "z": "cd3c6c14.6a19b8",
        "endpoint": "ffe1c026.b79e4",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": "0",
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "susbcribe",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "7dfb7f07.357e3"
            ]
        ]
    },
    {
        "id": "d1aa77d1.ef1ae",
        "type": "debug",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 700,
        "wires": []
    },
    {
        "id": "8c6687d3.529818",
        "type": "rbe",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1270,
        "y": 840,
        "wires": [
            [
                "d1aa77d1.ef1ae",
                "321d9536.22fb1a"
            ]
        ]
    },
    {
        "id": "fd0d6a53.ad77f",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "toRealUnit",
        "func": "// 0.01 is due to second gearbox not accounted for in plc units\n// 60 is seconds to a minute\n// 2*pi*r is the circumference of the drive\n\ncoef = 0.01 * 60 * (2 * Math.PI * flow.get('radius'));\n\nmsg.payload *= coef;\n\nmsg.payload = Math.round(msg.payload*100)/100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 840,
        "wires": [
            [
                "983b9f8e.15c5a8"
            ]
        ]
    },
    {
        "id": "983b9f8e.15c5a8",
        "type": "smooth",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "1",
        "mult": "multi",
        "reduce": false,
        "x": 1120,
        "y": 840,
        "wires": [
            [
                "8c6687d3.529818"
            ]
        ]
    },
    {
        "id": "321d9536.22fb1a",
        "type": "ui_text",
        "z": "cd3c6c14.6a19b8",
        "group": "63b898e3.cb88b",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Speed",
        "format": "{{msg.payload}} mm/min",
        "layout": "col-center",
        "x": 1480,
        "y": 920,
        "wires": []
    },
    {
        "id": "7dfb7f07.357e3",
        "type": "switch",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "subscriptionId",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 840,
        "wires": [
            [
                "fd0d6a53.ad77f"
            ]
        ]
    }
]