flows.json
[
    {
        "id": "cd3c6c14.6a19b8",
        "type": "tab",
        "label": "Motors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "472cf316.a032c4",
        "type": "tab",
        "label": "Furnace",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0319a94.933848",
        "type": "tab",
        "label": "Arm 1-2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39f681b1.fd6a4e",
        "type": "tab",
        "label": "Strain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0918bb.4ce8878",
        "type": "subflow",
        "name": "Furnace PID params",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1220,
                "y": 400,
                "wires": [
                    {
                        "id": "1c92f36.f5be38d",
                        "port": 0
                    },
                    {
                        "id": "51b0c33e.bf4c2c",
                        "port": 0
                    },
                    {
                        "id": "ec48fbd2.d8f7e",
                        "port": 0
                    },
                    {
                        "id": "32e3274.bd4bd58",
                        "port": 0
                    },
                    {
                        "id": "8c388f0e.2c2008",
                        "port": 0
                    },
                    {
                        "id": "2bf2debf.e33452",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "183b219b.6c6dce",
        "type": "subflow",
        "name": "subflow",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "f0fc5028.32d6a8",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "446380d7.ea15e8",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "892f814c.4627c",
            "5623a3ce.79f00c"
        ],
        "x": 374,
        "y": 1059,
        "w": 392,
        "h": 82
    },
    {
        "id": "2f6fa9c1.a66a06",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "446380d7.ea15e8",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "e99b152e.4aa8",
            "979cc689.b8cd7"
        ],
        "x": 374,
        "y": 1159,
        "w": 392,
        "h": 82
    },
    {
        "id": "f101bbae.4501b",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "c64d78f8.5a62b8",
            "fd4bd9d6.0a6458"
        ],
        "x": 2434,
        "y": 259,
        "w": 392,
        "h": 82
    },
    {
        "id": "820e06a1.dbb25",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "b256bd2c.0de278",
            "e90b7848.32fa18"
        ],
        "x": 2434,
        "y": 379,
        "w": 392,
        "h": 82
    },
    {
        "id": "8e799bae.813c4",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "DIRECTION",
        "style": {
            "label": true
        },
        "nodes": [
            "820e06a1.dbb25",
            "f101bbae.4501b",
            "4ce88669.ad009"
        ],
        "x": 2314,
        "y": 233,
        "w": 538,
        "h": 254
    },
    {
        "id": "d0266af7.3d318",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "666a68bf.ca7fa",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "59c76b4e.7e0824",
            "74e8f634.417238"
        ],
        "x": 2374,
        "y": 899,
        "w": 412,
        "h": 82
    },
    {
        "id": "cdea3450.e3356",
        "type": "group",
        "z": "d0319a94.933848",
        "g": "666a68bf.ca7fa",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "ae3095c9.296df",
            "a6efcee1.a9be"
        ],
        "x": 2374,
        "y": 999,
        "w": 412,
        "h": 82
    },
    {
        "id": "666a68bf.ca7fa",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "PRESSURE",
        "style": {
            "label": true
        },
        "nodes": [
            "cdea3450.e3356",
            "d0266af7.3d318"
        ],
        "x": 2348,
        "y": 873,
        "w": 464,
        "h": 234
    },
    {
        "id": "446380d7.ea15e8",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "POSITION",
        "style": {
            "label": true
        },
        "nodes": [
            "2f6fa9c1.a66a06",
            "f0fc5028.32d6a8"
        ],
        "x": 348,
        "y": 1033,
        "w": 444,
        "h": 234
    },
    {
        "id": "7ad6244d.80c54c",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "PID",
        "style": {
            "label": true
        },
        "nodes": [
            "d923e526.0fbbc8",
            "f3d3e8d.b1ffb18",
            "f844d6f3.98934",
            "fe4fc6e7.d1b8a8",
            "40ca5ce3.622acc",
            "cd8c04d3.3ba4a",
            "4529cb84.9e61e4",
            "928bd9ee.086758",
            "30ac5379.05f964",
            "208ab9e6.260da6",
            "3144c391.fb96cc",
            "ed7a0083.840a8",
            "83b9eaa6.6df188",
            "1cee2d2.0ccef53",
            "f6aacab9.47a55",
            "fb83cd3e.e366f",
            "a1eea51d.35551",
            "cff61e50.dc3e38",
            "86438710.3138b8",
            "8f0a5252.c285e",
            "953a15c9.a2efc8",
            "79f27d56.e26a84",
            "b6b47bfb.b9c7",
            "d7fa507f.9f39e8",
            "5c35ae40.3768d8",
            "d392afce.2cd8c",
            "db263c21.5bbf08",
            "3793a19e.24aede",
            "69d1090a.341778",
            "c30645ed.f3e9b8",
            "78544575.d6fcfc",
            "6106ad0a.9d6b44",
            "64621ee3.0ef0b8",
            "e0c7ed2f.e6a848",
            "bda377f2.09166",
            "74b92fa9.bc2ef8",
            "c540541b.9272c"
        ],
        "x": 74,
        "y": 1479,
        "w": 1652,
        "h": 662
    },
    {
        "id": "c622cdd4.6d49c8",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC2",
        "style": {
            "label": true
        },
        "nodes": [
            "f4ace7a2.bec3c",
            "447b363b.143fe"
        ],
        "x": 294,
        "y": 299,
        "w": 452,
        "h": 82
    },
    {
        "id": "ea8e2d80.cca938",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC3",
        "style": {
            "label": true
        },
        "nodes": [
            "7a3fcb86.106d54",
            "ce2f9e71.91f2d8"
        ],
        "x": 294,
        "y": 399,
        "w": 452,
        "h": 82
    },
    {
        "id": "8d7f6ed9.f5bfc",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC4",
        "style": {
            "label": true
        },
        "nodes": [
            "27ab509f.2f5a1",
            "e81ee176.c179d"
        ],
        "x": 294,
        "y": 499,
        "w": 452,
        "h": 82
    },
    {
        "id": "c8eb7a57.12867",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC0",
        "style": {
            "label": true
        },
        "nodes": [
            "bb7805c0.6e3c5",
            "cf55608b.8e8898"
        ],
        "x": 254,
        "y": 1759,
        "w": 452,
        "h": 82
    },
    {
        "id": "cb571989.68227",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 0",
        "style": {
            "label": true
        },
        "nodes": [
            "8d7f6ed9.f5bfc",
            "c622cdd4.6d49c8",
            "ea8e2d80.cca938",
            "de28e6a4.6494e"
        ],
        "x": 268,
        "y": 173,
        "w": 504,
        "h": 434
    },
    {
        "id": "28aecd54.73035a",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC1",
        "style": {
            "label": true
        },
        "nodes": [
            "298a8da3.652f8a",
            "6726f17e.41e248"
        ],
        "x": 254,
        "y": 1859,
        "w": 452,
        "h": 82
    },
    {
        "id": "f1b297d3.86f74",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "f3298caa.a5de38",
        "name": "IC2",
        "style": {
            "label": true
        },
        "nodes": [
            "bceb360e.7706c8",
            "15f3545e.f7b76c"
        ],
        "x": 254,
        "y": 1959,
        "w": 452,
        "h": 82
    },
    {
        "id": "f3298caa.a5de38",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Onboard temp sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "28aecd54.73035a",
            "c8eb7a57.12867",
            "f1b297d3.86f74"
        ],
        "x": 228,
        "y": 1733,
        "w": 504,
        "h": 334
    },
    {
        "id": "de28e6a4.6494e",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "cb571989.68227",
        "name": "TC1",
        "style": {
            "label": true
        },
        "nodes": [
            "257e7bac.6143d4",
            "6b81a524.a81a64"
        ],
        "x": 294,
        "y": 199,
        "w": 452,
        "h": 82
    },
    {
        "id": "412e4124.cd2d18",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT1",
        "style": {
            "label": true
        },
        "nodes": [
            "671a928a.47199c",
            "f15d55fe.96273"
        ],
        "x": 1594,
        "y": 199,
        "w": 392,
        "h": 82
    },
    {
        "id": "864361a2.693d7",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT2",
        "style": {
            "label": true
        },
        "nodes": [
            "4282a3a7.3667ec",
            "c3887544.7385d8"
        ],
        "x": 1594,
        "y": 299,
        "w": 392,
        "h": 82
    },
    {
        "id": "dec4775.1b0c308",
        "type": "group",
        "z": "d0918bb.4ce8878",
        "name": "PID parameters",
        "style": {
            "label": true
        },
        "nodes": [
            "a62512b8.b94b3",
            "d222f179.56a9c8",
            "9064f83f.8efc9",
            "1c92f36.f5be38d",
            "51b0c33e.bf4c2c",
            "2bf2debf.e33452",
            "f85bd3b0.a3f108",
            "6a38adc3.aa3314",
            "8c388f0e.2c2008",
            "32e3274.bd4bd58",
            "ec48fbd2.d8f7e",
            "933c950d.c810f8",
            "8c8f4b52.08b95"
        ],
        "x": 254,
        "y": 239,
        "w": 672,
        "h": 362
    },
    {
        "id": "a66af1c7.2c52e8",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT3",
        "style": {
            "label": true
        },
        "nodes": [
            "5a69be94.4a9278",
            "2e3994f.0fbdc6c"
        ],
        "x": 1594,
        "y": 399,
        "w": 392,
        "h": 82
    },
    {
        "id": "db10a9d6.3cf4e8",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "HT4",
        "style": {
            "label": true
        },
        "nodes": [
            "21c2048c.fcca44",
            "4024fc44.4a45ac"
        ],
        "x": 1594,
        "y": 499,
        "w": 392,
        "h": 82
    },
    {
        "id": "2bc87535.4a7e62",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 1",
        "style": {
            "label": true
        },
        "nodes": [
            "4a6d0eb9.05129",
            "d32a617b.531d98",
            "e29bdb60.c65598",
            "2bdf9297.27d11e"
        ],
        "x": 268,
        "y": 633,
        "w": 504,
        "h": 434
    },
    {
        "id": "4a6d0eb9.05129",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC8",
        "style": {
            "label": true
        },
        "nodes": [
            "c04ebff4.2d987",
            "9b07e55d.6da5b"
        ],
        "x": 294,
        "y": 959,
        "w": 452,
        "h": 82
    },
    {
        "id": "d32a617b.531d98",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC6",
        "style": {
            "label": true
        },
        "nodes": [
            "31fc6597.3b1122",
            "aa2b1935.5a6858"
        ],
        "x": 294,
        "y": 759,
        "w": 452,
        "h": 82
    },
    {
        "id": "e29bdb60.c65598",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC7",
        "style": {
            "label": true
        },
        "nodes": [
            "e417d705.6ef3",
            "906c821c.7de538"
        ],
        "x": 294,
        "y": 859,
        "w": 452,
        "h": 82
    },
    {
        "id": "2bdf9297.27d11e",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "2bc87535.4a7e62",
        "name": "TC5",
        "style": {
            "label": true
        },
        "nodes": [
            "f9ee7d4b.00db58",
            "52403feb.1c7428"
        ],
        "x": 294,
        "y": 659,
        "w": 452,
        "h": 82
    },
    {
        "id": "a0c3be17.cbf538",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Port 2",
        "style": {
            "label": true
        },
        "nodes": [
            "981bb9d1.31d21",
            "c38e4093.6b7da"
        ],
        "x": 268,
        "y": 1093,
        "w": 504,
        "h": 234
    },
    {
        "id": "981bb9d1.31d21",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "a0c3be17.cbf538",
        "name": "TC10",
        "style": {
            "label": true
        },
        "nodes": [
            "cf4077f4.f30dc",
            "6c8d2b98.f855bc"
        ],
        "x": 294,
        "y": 1219,
        "w": 452,
        "h": 82
    },
    {
        "id": "c38e4093.6b7da",
        "type": "group",
        "z": "472cf316.a032c4",
        "g": "a0c3be17.cbf538",
        "name": "TC9",
        "style": {
            "label": true
        },
        "nodes": [
            "26fec770.ee05b",
            "ab7f6598.9cfbc"
        ],
        "x": 294,
        "y": 1119,
        "w": 452,
        "h": 82
    },
    {
        "id": "be3a1423.55f78",
        "type": "group",
        "z": "472cf316.a032c4",
        "name": "Input period",
        "style": {
            "label": true
        },
        "nodes": [
            "ce872039.a3b0d8",
            "234229e9.2c0656",
            "72a823c7.381864"
        ],
        "x": 14,
        "y": 399,
        "w": 212,
        "h": 202
    },
    {
        "id": "b6d1289b.d9184",
        "type": "group",
        "z": "183b219b.6c6dce",
        "name": "DIRECTION",
        "style": {
            "label": true
        },
        "nodes": [
            "141de1ab.a05c7e",
            "75383317.dd13bc"
        ],
        "x": 968,
        "y": 373,
        "w": 444,
        "h": 254
    },
    {
        "id": "141de1ab.a05c7e",
        "type": "group",
        "z": "183b219b.6c6dce",
        "g": "b6d1289b.d9184",
        "name": "ARM 2",
        "style": {
            "label": true
        },
        "nodes": [
            "cd63ecf7.e9f408",
            "bfaca76f.23adb8"
        ],
        "x": 994,
        "y": 519,
        "w": 392,
        "h": 82
    },
    {
        "id": "75383317.dd13bc",
        "type": "group",
        "z": "183b219b.6c6dce",
        "g": "b6d1289b.d9184",
        "name": "ARM 1",
        "style": {
            "label": true
        },
        "nodes": [
            "ef5d2a6.1b55ed8",
            "ee2e81b2.ef7298"
        ],
        "x": 994,
        "y": 399,
        "w": 392,
        "h": 82
    },
    {
        "id": "cb43bea3.11cb2",
        "type": "group",
        "z": "d0319a94.933848",
        "name": "release",
        "style": {
            "label": true
        },
        "nodes": [
            "444e409f.1f668"
        ],
        "x": 694,
        "y": 499,
        "w": 82,
        "h": 82
    },
    {
        "id": "8680f5c5.8c3ab8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Tapering UI",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fa943f83.ed6f3",
        "type": "ui_group",
        "name": "Furnace",
        "tab": "21d594e5.b5238c",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "ffe1c026.b79e4",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.10.50:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "21d594e5.b5238c",
        "type": "ui_tab",
        "name": "Furnace",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c50b1cd6.b052d",
        "type": "ui_group",
        "name": "Motor control",
        "tab": "da0b05bc.b4d428",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9315ce3e.fb1dc8",
        "type": "ui_tab",
        "name": "Strain ",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93e5d32a.4731b8",
        "type": "ui_group",
        "name": "Strain",
        "tab": "9315ce3e.fb1dc8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "590618eb.b8ddc8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c50b1cd6.b052d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "da0b05bc.b4d428",
        "type": "ui_tab",
        "name": "Motor control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2b9b840.849ad",
        "type": "ui_tab",
        "name": "Position",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63b898e3.cb88b",
        "type": "ui_group",
        "name": "Arm 1-2",
        "tab": "f2b9b840.849ad",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "925c35a3.6e8c6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "63b898e3.cb88b",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "f277b7b3.2f1898",
        "type": "ui_group",
        "name": "Arm 2-3",
        "tab": "f2b9b840.849ad",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "69196b0c.20fd24",
        "type": "OpcUa-Client",
        "z": "cd3c6c14.6a19b8",
        "endpoint": "ffe1c026.b79e4",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "read from lemon",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "d5e87bcc.0a9688"
            ]
        ]
    },
    {
        "id": "d5e87bcc.0a9688",
        "type": "debug",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "b4d3777b.827aa8",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "read c_Vel",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "69196b0c.20fd24"
            ]
        ]
    },
    {
        "id": "92164c2e.bef808",
        "type": "OpcUa-Client",
        "z": "cd3c6c14.6a19b8",
        "endpoint": "ffe1c026.b79e4",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "write to lemon",
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e81d1acf.ee4a38",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "write c_Vel",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "payload": "0.25",
        "payloadType": "num",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "e57ad8f.51fcd28"
            ]
        ]
    },
    {
        "id": "e57ad8f.51fcd28",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "datatype": "Float",
        "value": "",
        "name": "speed",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "92164c2e.bef808"
            ]
        ]
    },
    {
        "id": "8f1ba088.c35c88",
        "type": "ui_text",
        "z": "cd3c6c14.6a19b8",
        "group": "c50b1cd6.b052d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Widget info text",
        "label": "OPC-UA",
        "format": "PLC controls here",
        "layout": "col-center",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "77071c6d.6debc4",
        "type": "ui_text_input",
        "z": "cd3c6c14.6a19b8",
        "name": "Speed input",
        "label": "Speed in mm/min",
        "tooltip": "",
        "group": "c50b1cd6.b052d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Vel",
        "topicType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "b2eb0a03.e1fcf"
            ]
        ]
    },
    {
        "id": "575d194f.6fd2a8",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "read c_Power",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Power",
        "payloadType": "str",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "69196b0c.20fd24"
            ]
        ]
    },
    {
        "id": "9e4d1534.8429d8",
        "type": "OpcUa-Item",
        "z": "cd3c6c14.6a19b8",
        "item": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Power",
        "datatype": "Boolean",
        "value": "",
        "name": "speed",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "92164c2e.bef808"
            ]
        ]
    },
    {
        "id": "b8fe3285.eff88",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "power on",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Power",
        "payload": "true",
        "payloadType": "bool",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "9e4d1534.8429d8"
            ]
        ]
    },
    {
        "id": "af30aec1.c33e28",
        "type": "inject",
        "z": "cd3c6c14.6a19b8",
        "name": "power off",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;s=|var|PAC320-CWN21-3A.Application.GVL.c_Power",
        "payload": "false",
        "payloadType": "bool",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "9e4d1534.8429d8"
            ]
        ]
    },
    {
        "id": "b2eb0a03.e1fcf",
        "type": "function",
        "z": "cd3c6c14.6a19b8",
        "name": "unit conversion",
        "func": "\nradius=50; //radius of the drive in mm\n\n// 0.01 is due to second gearbox not accounted for in plc units\n// 60 is seconds to a minute\n// 2*pi*r is the circumference of the drive\n\ncoef = 0.01 * 60 * (2 * Math.PI * radius);\n\nmsg.payload /= coef;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "e57ad8f.51fcd28",
                "bdaaade7.2a31b8"
            ]
        ]
    },
    {
        "id": "bdaaade7.2a31b8",
        "type": "debug",
        "z": "cd3c6c14.6a19b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "cc7c0ac.94f4878",
        "type": "phidget22-connect",
        "z": "472cf316.a032c4",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "11623147.a352af",
        "type": "ui_chart",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 1,
        "width": "9",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1090,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "671a928a.47199c",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "412e4124.cd2d18",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0c4bb1.ee7488",
        "type": "phidget22-connect",
        "z": "39f681b1.fd6a4e",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "x": 150,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "49c47775.50ca4",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": 0,
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "0",
        "debug": true,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "a4493398.d24668",
                "7d7cac2.09e3a54"
            ]
        ]
    },
    {
        "id": "65560268.c466c4",
        "type": "ui_chart",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "group": "93e5d32a.4731b8",
        "order": 6,
        "width": "12",
        "height": "7",
        "label": "Strain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a4493398.d24668",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "7d7cac2.09e3a54"
            ]
        ]
    },
    {
        "id": "d5b0ef19.44cfb",
        "type": "inject",
        "z": "39f681b1.fd6a4e",
        "name": "Reset plot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 660,
        "y": 40,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "cec384a2.b8b4e",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": "1",
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "0",
        "debug": false,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8f2ff0c2.af014",
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "8f2ff0c2.af014",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "2513049d.8fac1c",
        "type": "ui_button",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "group": "93e5d32a.4731b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "ZeroNow",
        "topicType": "str",
        "x": 430,
        "y": 40,
        "wires": [
            [
                "7d7cac2.09e3a54",
                "f4dd88fa.3c273"
            ]
        ]
    },
    {
        "id": "7d7cac2.09e3a54",
        "type": "function",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "func": "if (msg.topic == 'VoltageratioChange') {\n    context.set('lastValue', msg.payload.voltageRatio);\n}\nelse  if (msg.topic == 'ZeroNow') {\n    context.set('offset', context.get('lastValue') );\n}\nelse {\n    msg.payload -= context.get('offset')\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('offset', 0)",
        "finalize": "",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "f4dd88fa.3c273",
        "type": "function",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "func": "if (msg.topic == 'VoltageratioChange') {\n    context.set('lastValue', msg.payload.voltageRatio);\n}\nelse  if (msg.topic == 'ZeroNow') {\n    context.set('offset', context.get('lastValue') );\n}\nelse {\n    msg.payload -= context.get('offset')\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('offset', 0)",
        "finalize": "",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "2e7c1c51.2896b4",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": 0,
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "1",
        "debug": true,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "ecd8638c.b6549"
            ]
        ]
    },
    {
        "id": "ecd8638c.b6549",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "8505330a.300fb8",
        "type": "phidget22-voltageratioinput",
        "z": "39f681b1.fd6a4e",
        "channel": "1",
        "deviceSerialNumber": "559402",
        "isHubPortDevice": false,
        "hubPort": "1",
        "debug": false,
        "dataInterval": "250",
        "voltageRatioChangeTrigger": 0,
        "sensorType": 0,
        "bridgeGain": "8",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "cefa2f37.d8fdc8"
            ]
        ]
    },
    {
        "id": "cefa2f37.d8fdc8",
        "type": "change",
        "z": "39f681b1.fd6a4e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.voltageRatio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strain_4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "65560268.c466c4"
            ]
        ]
    },
    {
        "id": "2f2ed952.2cb95e",
        "type": "phidget22-connect",
        "z": "d0319a94.933848",
        "port": "5661",
        "hostname": "localhost",
        "debug": true,
        "x": 170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c64d78f8.5a62b8",
        "type": "phidget22-digitaloutput",
        "z": "d0319a94.933848",
        "g": "f101bbae.4501b",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 2540,
        "y": 300,
        "wires": [
            [
                "fd4bd9d6.0a6458"
            ]
        ]
    },
    {
        "id": "59c76b4e.7e0824",
        "type": "phidget22-voltageoutput",
        "z": "d0319a94.933848",
        "g": "d0266af7.3d318",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": 0,
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2490,
        "y": 940,
        "wires": [
            [
                "74e8f634.417238"
            ]
        ]
    },
    {
        "id": "148e9301.db3565",
        "type": "function",
        "z": "d0319a94.933848",
        "name": "Track position",
        "func": "var positions = flow.get('positions');\n\nif (msg.topic == 'PositionChange') {\n\n    if (msg.label in positions) {\n        position = positions[msg.label]\n    }\n    else {\n        position = 0;\n    }\n\n    // 2 mm pole length\n    // 4096 interpolated steps\n    // RLM2HDA12B\n    \n    var positionChange = -msg.payload.positionChange*2/4096;\n    \n    position += positionChange;\n    \n    positions[msg.label] = position;\n    \n    flow.set('positions', positions);\n    \n    var velocity = positionChange/msg.payload.timeChange;\n    \n    var pos = { topic: msg.label,  payload: position }\n    var vel = { topic: msg.label,  payload: velocity }\n    \n    return [pos, vel]\n}\nelse if (msg.topic == 'setZero') { \n    for (var label in positions) {\n        positions[label]=0\n    }\n    \n    flow.set('positions', positions);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('positions', {});",
        "finalize": "",
        "x": 1200,
        "y": 1160,
        "wires": [
            [
                "40ca5ce3.622acc",
                "5f9d4547.1cd7c4"
            ],
            [
                "dd72a233.b411d"
            ]
        ]
    },
    {
        "id": "80b7173c.a29828",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1580,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "979ff12.e62269",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1110,
        "y": 1260,
        "wires": [
            [
                "80b7173c.a29828",
                "dd72a233.b411d",
                "79f27d56.e26a84"
            ]
        ]
    },
    {
        "id": "f06a5943.32bfe8",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Zero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "setZero",
        "topicType": "str",
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "892f814c.4627c",
        "type": "phidget22-encoder",
        "z": "d0319a94.933848",
        "d": true,
        "g": "f0fc5028.32d6a8",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "0",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "20",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "5623a3ce.79f00c"
            ]
        ]
    },
    {
        "id": "dd72a233.b411d",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "d": true,
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "Velocity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1580,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "be9a7643.78ca9",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":0}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 430,
        "y": 640,
        "wires": [
            [
                "45ed5a16.182514",
                "e8387c47.c368f"
            ]
        ]
    },
    {
        "id": "b256bd2c.0de278",
        "type": "phidget22-digitaloutput",
        "z": "d0319a94.933848",
        "g": "820e06a1.dbb25",
        "channel": "1",
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 2540,
        "y": 420,
        "wires": [
            [
                "e90b7848.32fa18"
            ]
        ]
    },
    {
        "id": "ae3095c9.296df",
        "type": "phidget22-voltageoutput",
        "z": "d0319a94.933848",
        "g": "cdea3450.e3356",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "hubPort": "1",
        "debug": false,
        "voltageOutputRange": "1",
        "x": 2490,
        "y": 1040,
        "wires": [
            [
                "a6efcee1.a9be"
            ]
        ]
    },
    {
        "id": "5623a3ce.79f00c",
        "type": "change",
        "z": "d0319a94.933848",
        "d": true,
        "g": "f0fc5028.32d6a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "e99b152e.4aa8",
        "type": "phidget22-encoder",
        "z": "d0319a94.933848",
        "g": "2f6fa9c1.a66a06",
        "channel": 0,
        "deviceSerialNumber": "561741",
        "hubPort": "1",
        "debug": false,
        "IOMode": "1",
        "dataInterval": "20",
        "positionChangeTrigger": "0",
        "enabled": false,
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "979cc689.b8cd7"
            ]
        ]
    },
    {
        "id": "979cc689.b8cd7",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "2f6fa9c1.a66a06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "ARM2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1200,
        "wires": [
            [
                "148e9301.db3565"
            ]
        ]
    },
    {
        "id": "8909f25a.d441f8",
        "type": "inject",
        "z": "d0319a94.933848",
        "d": true,
        "name": "setVoltageOutputRange",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "setVoltageOutputRange",
        "payload": "{\"voltageOutputRange\":1}",
        "payloadType": "json",
        "x": 2050,
        "y": 1060,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "f96c8693.a54ce",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDutyCycle 0",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dutyCycle\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 640,
        "wires": [
            [
                "9d50d517.5cfeb8",
                "96d291ae.3028c8"
            ]
        ]
    },
    {
        "id": "4ace9692.d8fcf8",
        "type": "easing",
        "z": "d0319a94.933848",
        "name": "",
        "easingType": "easeInOutQuad",
        "outputType": "overTime",
        "duration": "4000",
        "interval": "200",
        "numberOfValues": 10,
        "x": 1430,
        "y": 560,
        "wires": [
            [
                "7d6aab10.f2158c"
            ]
        ]
    },
    {
        "id": "7d6aab10.f2158c",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setVoltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":(payload)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 560,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "636189.bb35b678",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "range",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"from\" : 1.3 , \"to\" : ($flowContext('p_fixed'))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 560,
        "wires": [
            [
                "4ace9692.d8fcf8"
            ]
        ]
    },
    {
        "id": "e8387c47.c368f",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "f96c8693.a54ce"
            ]
        ]
    },
    {
        "id": "9d50d517.5cfeb8",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "636189.bb35b678",
                "b9c90ff2.aefc"
            ]
        ]
    },
    {
        "id": "52b0759b.5c6144",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "be9a7643.78ca9",
                "eaddfd57.90b278"
            ]
        ]
    },
    {
        "id": "b9c90ff2.aefc",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1320,
        "y": 820,
        "wires": [
            [
                "f06a5943.32bfe8",
                "f1533de2.55f39"
            ]
        ]
    },
    {
        "id": "74e8f634.417238",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "d0266af7.3d318",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 940,
        "wires": []
    },
    {
        "id": "d08d3fe5.477d28",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Release",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "{\"voltage\":0}",
        "payloadType": "json",
        "topic": "setVoltage",
        "topicType": "str",
        "x": 2000,
        "y": 1000,
        "wires": [
            [
                "59c76b4e.7e0824",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "a6efcee1.a9be",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "cdea3450.e3356",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fd4bd9d6.0a6458",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "f101bbae.4501b",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2730,
        "y": 300,
        "wires": []
    },
    {
        "id": "e90b7848.32fa18",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "820e06a1.dbb25",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2730,
        "y": 420,
        "wires": []
    },
    {
        "id": "fbe9745d.1ea818",
        "type": "inject",
        "z": "d0319a94.933848",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "defa6653.ed7bb"
            ]
        ]
    },
    {
        "id": "defa6653.ed7bb",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "name": "",
        "label": "dataInterval",
        "tooltip": "This is the data acquisition period from the encoder",
        "group": "63b898e3.cb88b",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setDataInterval",
        "topicType": "str",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "440ac494.fdb3dc"
            ]
        ]
    },
    {
        "id": "440ac494.fdb3dc",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDataInterval",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dataInterval\":(msg.payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDataInterval",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "892f814c.4627c",
                "e99b152e.4aa8"
            ]
        ]
    },
    {
        "id": "d923e526.0fbbc8",
        "type": "PID",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0.5",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 990,
        "y": 1780,
        "wires": [
            [
                "f3d3e8d.b1ffb18",
                "74b92fa9.bc2ef8"
            ]
        ]
    },
    {
        "id": "f3d3e8d.b1ffb18",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "if enabled",
        "property": "pid",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1160,
        "y": 1780,
        "wires": [
            [
                "f844d6f3.98934",
                "b6b47bfb.b9c7",
                "c30645ed.f3e9b8",
                "593588ed.fa436"
            ]
        ]
    },
    {
        "id": "f844d6f3.98934",
        "type": "function",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "func": "var p_min = flow.get('p_min');\n\nvar p_max = flow.get('p_max');\n\nvar power = msg.payload;\n\nvar p_band = p_max-p_min;\n\nvar v1 = p_min + p_band * power;\n\nmsg = {topic:'setVoltage', payload:{voltage:v1}};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1360,
        "y": 1780,
        "wires": [
            [
                "fe4fc6e7.d1b8a8",
                "ae3095c9.296df"
            ]
        ]
    },
    {
        "id": "fe4fc6e7.d1b8a8",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 1780,
        "wires": []
    },
    {
        "id": "40ca5ce3.622acc",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "only ARM 2",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ARM2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "d923e526.0fbbc8",
                "cd8c04d3.3ba4a"
            ]
        ]
    },
    {
        "id": "cd8c04d3.3ba4a",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1620,
        "wires": []
    },
    {
        "id": "4529cb84.9e61e4",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1640,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "928bd9ee.086758",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "setpoint",
        "tooltip": "ARM 2 position in mm",
        "group": "63b898e3.cb88b",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setpoint",
        "topicType": "str",
        "x": 360,
        "y": 1780,
        "wires": [
            [
                "c540541b.9272c"
            ]
        ]
    },
    {
        "id": "30ac5379.05f964",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "prop_band",
        "tooltip": "Smaller number means larger gain",
        "group": "63b898e3.cb88b",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "prop_band",
        "topicType": "str",
        "x": 490,
        "y": 1840,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "208ab9e6.260da6",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "t_integral",
        "tooltip": "Smaller number larger effect",
        "group": "63b898e3.cb88b",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "t_integral",
        "topicType": "str",
        "x": 480,
        "y": 1900,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "3144c391.fb96cc",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "t_derivative",
        "tooltip": "Larger number larger effect",
        "group": "63b898e3.cb88b",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "t_derivative",
        "topicType": "str",
        "x": 490,
        "y": 1960,
        "wires": [
            [
                "d923e526.0fbbc8"
            ]
        ]
    },
    {
        "id": "ed7a0083.840a8",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_min",
        "tooltip": "Maximum pressure per piston (up to 5V)",
        "group": "63b898e3.cb88b",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 2020,
        "wires": [
            [
                "83b9eaa6.6df188"
            ]
        ]
    },
    {
        "id": "83b9eaa6.6df188",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "1cee2d2.0ccef53",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 290,
        "y": 2020,
        "wires": [
            [
                "ed7a0083.840a8"
            ]
        ]
    },
    {
        "id": "f6aacab9.47a55",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 290,
        "y": 1840,
        "wires": [
            [
                "30ac5379.05f964"
            ]
        ]
    },
    {
        "id": "fb83cd3e.e366f",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 290,
        "y": 1900,
        "wires": [
            [
                "208ab9e6.260da6"
            ]
        ]
    },
    {
        "id": "a1eea51d.35551",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.02",
        "payloadType": "num",
        "x": 290,
        "y": 1960,
        "wires": [
            [
                "3144c391.fb96cc"
            ]
        ]
    },
    {
        "id": "cff61e50.dc3e38",
        "type": "ui_switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "PID",
        "tooltip": "",
        "group": "63b898e3.cb88b",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 430,
        "y": 1680,
        "wires": [
            [
                "86438710.3138b8"
            ]
        ]
    },
    {
        "id": "86438710.3138b8",
        "type": "switch",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1680,
        "wires": [
            [
                "4529cb84.9e61e4"
            ],
            [
                "8f0a5252.c285e"
            ]
        ]
    },
    {
        "id": "8f0a5252.c285e",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1700,
        "wires": [
            [
                "d923e526.0fbbc8",
                "e0c7ed2f.e6a848"
            ]
        ]
    },
    {
        "id": "953a15c9.a2efc8",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 1680,
        "wires": [
            [
                "cff61e50.dc3e38"
            ]
        ]
    },
    {
        "id": "79f27d56.e26a84",
        "type": "ui_chart",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "Power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "This is the power fed into ARM2 for position control.",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1610,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b47bfb.b9c7",
        "type": "smooth",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 1440,
        "y": 1640,
        "wires": [
            [
                "79f27d56.e26a84"
            ]
        ]
    },
    {
        "id": "5f9d4547.1cd7c4",
        "type": "smooth",
        "z": "d0319a94.933848",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "multi",
        "reduce": true,
        "x": 1420,
        "y": 1120,
        "wires": [
            [
                "80b7173c.a29828"
            ]
        ]
    },
    {
        "id": "5c35ae40.3768d8",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 290,
        "y": 2060,
        "wires": [
            [
                "d392afce.2cd8c"
            ]
        ]
    },
    {
        "id": "d392afce.2cd8c",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_max",
        "tooltip": "Minimum pressure per piston (up to 5V)",
        "group": "63b898e3.cb88b",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 2060,
        "wires": [
            [
                "d7fa507f.9f39e8"
            ]
        ]
    },
    {
        "id": "d7fa507f.9f39e8",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "c30645ed.f3e9b8",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "fix ARM 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setVoltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"voltage\":($flowContext('p_fixed')) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1520,
        "wires": [
            [
                "59c76b4e.7e0824",
                "78544575.d6fcfc"
            ]
        ]
    },
    {
        "id": "f4ace7a2.bec3c",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "c622cdd4.6d49c8",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "447b363b.143fe"
            ]
        ]
    },
    {
        "id": "27ab509f.2f5a1",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "8d7f6ed9.f5bfc",
        "channel": "3",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "e81ee176.c179d"
            ]
        ]
    },
    {
        "id": "7a3fcb86.106d54",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "ea8e2d80.cca938",
        "channel": "2",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ce2f9e71.91f2d8"
            ]
        ]
    },
    {
        "id": "bb7805c0.6e3c5",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "c8eb7a57.12867",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "cf55608b.8e8898"
            ]
        ]
    },
    {
        "id": "298a8da3.652f8a",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "28aecd54.73035a",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "6726f17e.41e248"
            ]
        ]
    },
    {
        "id": "bceb360e.7706c8",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "f1b297d3.86f74",
        "channel": "4",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "1000",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "2",
        "x": 380,
        "y": 2000,
        "wires": [
            [
                "15f3545e.f7b76c"
            ]
        ]
    },
    {
        "id": "cf55608b.8e8898",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "c8eb7a57.12867",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1800,
        "wires": [
            [
                "69d52ab8.c0e754"
            ]
        ]
    },
    {
        "id": "6726f17e.41e248",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "28aecd54.73035a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "15f3545e.f7b76c",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "f1b297d3.86f74",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "IC2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "257e7bac.6143d4",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "de28e6a4.6494e",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "hubPort": "0",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "6b81a524.a81a64"
            ]
        ]
    },
    {
        "id": "6b81a524.a81a64",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "de28e6a4.6494e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "c944433b.05ffa8",
                "1fb65c13.fab20c"
            ]
        ]
    },
    {
        "id": "447b363b.143fe",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "c622cdd4.6d49c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "c944433b.05ffa8",
                "689e1002.bb3d"
            ]
        ]
    },
    {
        "id": "ce2f9e71.91f2d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "ea8e2d80.cca938",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "c944433b.05ffa8",
                "107c791c.6194ef"
            ]
        ]
    },
    {
        "id": "e81ee176.c179d",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "8d7f6ed9.f5bfc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "c944433b.05ffa8",
                "1cf2ba34.c1971e"
            ]
        ]
    },
    {
        "id": "c944433b.05ffa8",
        "type": "function",
        "z": "472cf316.a032c4",
        "name": "",
        "func": "if (msg.topic == 'TemperatureChange') {\n//msg.payload = msg.payload.temperature.toFixed(1);\nmsg.topic = msg.label;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 140,
        "wires": [
            [
                "11623147.a352af"
            ]
        ]
    },
    {
        "id": "69d52ab8.c0e754",
        "type": "function",
        "z": "472cf316.a032c4",
        "name": "",
        "func": "if (msg.topic != 'TemperatureChange') {\nmsg.payload = msg.payload.temperature.toFixed(1);\nmsg.topic = msg.label;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "ebe656f9.46d76",
        "type": "ui_button",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 910,
        "y": 40,
        "wires": [
            [
                "11623147.a352af",
                "1d5da6b.b9983d9"
            ]
        ]
    },
    {
        "id": "4282a3a7.3667ec",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "864361a2.693d7",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1fb65c13.fab20c",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "3c3098f2.a34d8"
            ]
        ]
    },
    {
        "id": "1d5da6b.b9983d9",
        "type": "ui_chart",
        "z": "472cf316.a032c4",
        "name": "",
        "group": "fa943f83.ed6f3",
        "order": 9,
        "width": "9",
        "height": "6",
        "label": "Power",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a62512b8.b94b3",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "d222f179.56a9c8"
            ]
        ]
    },
    {
        "id": "d222f179.56a9c8",
        "type": "ui_switch",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "PID",
        "tooltip": "",
        "group": "fa943f83.ed6f3",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "9064f83f.8efc9"
            ]
        ]
    },
    {
        "id": "9064f83f.8efc9",
        "type": "switch",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "1c92f36.f5be38d"
            ],
            [
                "51b0c33e.bf4c2c"
            ]
        ]
    },
    {
        "id": "1c92f36.f5be38d",
        "type": "change",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "51b0c33e.bf4c2c",
        "type": "change",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf2debf.e33452",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "t_derivative",
        "tooltip": "Larger number larger effect",
        "group": "fa943f83.ed6f3",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "t_derivative",
        "topicType": "str",
        "x": 550,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f85bd3b0.a3f108",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "2bf2debf.e33452"
            ]
        ]
    },
    {
        "id": "6a38adc3.aa3314",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "65536",
        "payloadType": "num",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "8c388f0e.2c2008"
            ]
        ]
    },
    {
        "id": "8c388f0e.2c2008",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "t_integral",
        "tooltip": "Smaller number larger effect",
        "group": "fa943f83.ed6f3",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "t_integral",
        "topicType": "str",
        "x": 540,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "32e3274.bd4bd58",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "prop_band",
        "tooltip": "Smaller number means larger gain",
        "group": "fa943f83.ed6f3",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "prop_band",
        "topicType": "str",
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ec48fbd2.d8f7e",
        "type": "ui_text_input",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "label": "setpoint",
        "tooltip": "Temperature in C",
        "group": "fa943f83.ed6f3",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setpoint",
        "topicType": "str",
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "933c950d.c810f8",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "ec48fbd2.d8f7e"
            ]
        ]
    },
    {
        "id": "8c8f4b52.08b95",
        "type": "inject",
        "z": "d0918bb.4ce8878",
        "g": "dec4775.1b0c308",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "32e3274.bd4bd58"
            ]
        ]
    },
    {
        "id": "71893d52.dfad9c",
        "type": "subflow:d0918bb.4ce8878",
        "z": "472cf316.a032c4",
        "name": "PID params",
        "env": [],
        "x": 850,
        "y": 1380,
        "wires": [
            [
                "1fb65c13.fab20c",
                "689e1002.bb3d",
                "107c791c.6194ef",
                "1cf2ba34.c1971e"
            ]
        ]
    },
    {
        "id": "f15d55fe.96273",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "412e4124.cd2d18",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "671a928a.47199c"
            ]
        ]
    },
    {
        "id": "c3887544.7385d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "864361a2.693d7",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 340,
        "wires": [
            [
                "4282a3a7.3667ec"
            ]
        ]
    },
    {
        "id": "3c3098f2.a34d8",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "f15d55fe.96273",
                "1d5da6b.b9983d9"
            ]
        ]
    },
    {
        "id": "689e1002.bb3d",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "2ff0d7fd.06ce6"
            ]
        ]
    },
    {
        "id": "2ff0d7fd.06ce6",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "c3887544.7385d8"
            ]
        ]
    },
    {
        "id": "107c791c.6194ef",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "287ab0bc.6a63e8"
            ]
        ]
    },
    {
        "id": "287ab0bc.6a63e8",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "2e3994f.0fbdc6c"
            ]
        ]
    },
    {
        "id": "5a69be94.4a9278",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "a66af1c7.2c52e8",
        "channel": "2",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2e3994f.0fbdc6c",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "a66af1c7.2c52e8",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 440,
        "wires": [
            [
                "5a69be94.4a9278"
            ]
        ]
    },
    {
        "id": "1cf2ba34.c1971e",
        "type": "PID",
        "z": "472cf316.a032c4",
        "name": "",
        "setpoint": "35",
        "pb": "20",
        "ti": "65536",
        "td": "0",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": 1,
        "disabled_op": "0",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "81085b2d.41e3b"
            ]
        ]
    },
    {
        "id": "81085b2d.41e3b",
        "type": "change",
        "z": "472cf316.a032c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HT4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 540,
        "wires": [
            [
                "1d5da6b.b9983d9",
                "4024fc44.4a45ac"
            ]
        ]
    },
    {
        "id": "21c2048c.fcca44",
        "type": "phidget22-digitaloutput",
        "z": "472cf316.a032c4",
        "g": "db10a9d6.3cf4e8",
        "channel": "3",
        "deviceSerialNumber": "559642",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": 1,
        "x": 1880,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4024fc44.4a45ac",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "db10a9d6.3cf4e8",
        "name": "setDutyCycle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"dutyCycle\" : (msg.payload) }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 540,
        "wires": [
            [
                "21c2048c.fcca44"
            ]
        ]
    },
    {
        "id": "c04ebff4.2d987",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "4a6d0eb9.05129",
        "channel": "3",
        "deviceSerialNumber": "495907",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "9b07e55d.6da5b"
            ]
        ]
    },
    {
        "id": "9b07e55d.6da5b",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "4a6d0eb9.05129",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC8",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "31fc6597.3b1122",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "d32a617b.531d98",
        "channel": "1",
        "deviceSerialNumber": "495907",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 800,
        "wires": [
            [
                "aa2b1935.5a6858"
            ]
        ]
    },
    {
        "id": "aa2b1935.5a6858",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "d32a617b.531d98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "e417d705.6ef3",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "e29bdb60.c65598",
        "channel": "2",
        "deviceSerialNumber": "495907",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 900,
        "wires": [
            [
                "906c821c.7de538"
            ]
        ]
    },
    {
        "id": "906c821c.7de538",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "e29bdb60.c65598",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC7",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 900,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "f9ee7d4b.00db58",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "g": "2bdf9297.27d11e",
        "channel": "0",
        "deviceSerialNumber": "495907",
        "hubPort": "1",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "52403feb.1c7428"
            ]
        ]
    },
    {
        "id": "52403feb.1c7428",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "2bdf9297.27d11e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "c944433b.05ffa8"
            ]
        ]
    },
    {
        "id": "cf4077f4.f30dc",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "981bb9d1.31d21",
        "channel": "1",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "6c8d2b98.f855bc"
            ]
        ]
    },
    {
        "id": "6c8d2b98.f855bc",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "981bb9d1.31d21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC10",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "26fec770.ee05b",
        "type": "phidget22-temperaturesensor",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "c38e4093.6b7da",
        "channel": "0",
        "deviceSerialNumber": "559642",
        "hubPort": "2",
        "debug": false,
        "dataInterval": "500",
        "temperatureChangeTrigger": 0,
        "RTDWireSetup": 3,
        "RTDType": 2,
        "thermocoupleType": "1",
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "ab7f6598.9cfbc"
            ]
        ]
    },
    {
        "id": "ab7f6598.9cfbc",
        "type": "change",
        "z": "472cf316.a032c4",
        "d": true,
        "g": "c38e4093.6b7da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "TC9",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "ce872039.a3b0d8",
        "type": "inject",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "234229e9.2c0656"
            ]
        ]
    },
    {
        "id": "234229e9.2c0656",
        "type": "ui_text_input",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "",
        "label": "dataInterval",
        "tooltip": "This is the data acquisition period from the encoder",
        "group": "fa943f83.ed6f3",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "setDataInterval",
        "topicType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "72a823c7.381864"
            ]
        ]
    },
    {
        "id": "72a823c7.381864",
        "type": "change",
        "z": "472cf316.a032c4",
        "g": "be3a1423.55f78",
        "name": "setDataInterval",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dataInterval\":(msg.payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDataInterval",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "f9ee7d4b.00db58",
                "27ab509f.2f5a1",
                "7a3fcb86.106d54",
                "31fc6597.3b1122",
                "e417d705.6ef3",
                "c04ebff4.2d987",
                "26fec770.ee05b",
                "cf4077f4.f30dc",
                "f4ace7a2.bec3c",
                "257e7bac.6143d4"
            ]
        ]
    },
    {
        "id": "23e35199.a3a486",
        "type": "switch",
        "z": "d0319a94.933848",
        "name": "isBusy",
        "property": "busy",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "52b0759b.5c6144"
            ],
            [
                "ac15316d.3f788"
            ]
        ]
    },
    {
        "id": "ac15316d.3f788",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "be9a7643.78ca9",
                "eaddfd57.90b278"
            ]
        ]
    },
    {
        "id": "4771d575.c3e9d4",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1650,
        "y": 820,
        "wires": [
            [
                "2e1ad126.7cef2e"
            ]
        ]
    },
    {
        "id": "2e1ad126.7cef2e",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cd63ecf7.e9f408",
        "type": "phidget22-digitaloutput",
        "z": "183b219b.6c6dce",
        "g": "141de1ab.a05c7e",
        "channel": "1",
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "bfaca76f.23adb8"
            ]
        ]
    },
    {
        "id": "bfaca76f.23adb8",
        "type": "debug",
        "z": "183b219b.6c6dce",
        "g": "141de1ab.a05c7e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef5d2a6.1b55ed8",
        "type": "phidget22-digitaloutput",
        "z": "183b219b.6c6dce",
        "g": "75383317.dd13bc",
        "channel": 0,
        "deviceSerialNumber": "559068",
        "isHubPortDevice": false,
        "hubPort": "4",
        "debug": false,
        "LEDCurrentLimit": 0.02,
        "LEDForwardVoltage": "7",
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "ee2e81b2.ef7298"
            ]
        ]
    },
    {
        "id": "ee2e81b2.ef7298",
        "type": "debug",
        "z": "183b219b.6c6dce",
        "g": "75383317.dd13bc",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 440,
        "wires": []
    },
    {
        "id": "4ce88669.ad009",
        "type": "link in",
        "z": "d0319a94.933848",
        "g": "8e799bae.813c4",
        "name": "direction",
        "links": [
            "96d291ae.3028c8"
        ],
        "x": 2355,
        "y": 360,
        "wires": [
            [
                "c64d78f8.5a62b8",
                "b256bd2c.0de278"
            ]
        ]
    },
    {
        "id": "96d291ae.3028c8",
        "type": "link out",
        "z": "d0319a94.933848",
        "name": "",
        "links": [
            "4ce88669.ad009"
        ],
        "x": 1095,
        "y": 540,
        "wires": []
    },
    {
        "id": "16f1cae9.eb0345",
        "type": "link in",
        "z": "d0319a94.933848",
        "name": "release",
        "links": [
            "444e409f.1f668",
            "b84804e1.e5ceb"
        ],
        "x": 1795,
        "y": 1000,
        "wires": [
            [
                "d08d3fe5.477d28"
            ]
        ]
    },
    {
        "id": "444e409f.1f668",
        "type": "link out",
        "z": "d0319a94.933848",
        "g": "cb43bea3.11cb2",
        "name": "",
        "links": [
            "16f1cae9.eb0345"
        ],
        "x": 735,
        "y": 540,
        "wires": []
    },
    {
        "id": "f1533de2.55f39",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1490,
        "y": 820,
        "wires": [
            [
                "d08d3fe5.477d28",
                "4771d575.c3e9d4"
            ]
        ]
    },
    {
        "id": "45ed5a16.182514",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "444e409f.1f668"
            ]
        ]
    },
    {
        "id": "db263c21.5bbf08",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "p_fixed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "3793a19e.24aede",
        "type": "ui_text_input",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "label": "p_fixed",
        "tooltip": "This is the constant pressure on Arm 1",
        "group": "63b898e3.cb88b",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 2100,
        "wires": [
            [
                "db263c21.5bbf08"
            ]
        ]
    },
    {
        "id": "69d1090a.341778",
        "type": "inject",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "$flowContext('p_min') + ( $flowContext('p_max') - $flowContext('p_min') )/2",
        "payloadType": "jsonata",
        "x": 290,
        "y": 2100,
        "wires": [
            [
                "3793a19e.24aede"
            ]
        ]
    },
    {
        "id": "eaddfd57.90b278",
        "type": "ui_button",
        "z": "d0319a94.933848",
        "name": "",
        "group": "63b898e3.cb88b",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"dutyCycle\":1}",
        "payloadType": "json",
        "topic": "setDutyCycle",
        "topicType": "str",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "45ed5a16.182514",
                "70b13ed2.1daad8"
            ]
        ]
    },
    {
        "id": "7b6fc4a.27cdd3c",
        "type": "inject",
        "z": "d0319a94.933848",
        "name": "update",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "23e35199.a3a486"
            ]
        ]
    },
    {
        "id": "78544575.d6fcfc",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 1520,
        "wires": []
    },
    {
        "id": "189fee52.ed6812",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "setDutyCycle 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setDutyCycle",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dutyCycle\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 440,
        "wires": [
            [
                "96d291ae.3028c8",
                "e518e916.e00d08"
            ]
        ]
    },
    {
        "id": "70b13ed2.1daad8",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "189fee52.ed6812"
            ]
        ]
    },
    {
        "id": "e518e916.e00d08",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1132.857177734375,
        "y": 440,
        "wires": [
            [
                "41ed8cb9.cbc99c",
                "636189.bb35b678"
            ]
        ]
    },
    {
        "id": "41ed8cb9.cbc99c",
        "type": "delay",
        "z": "d0319a94.933848",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1320,
        "y": 440,
        "wires": [
            [
                "d18923f5.37a388"
            ]
        ]
    },
    {
        "id": "d18923f5.37a388",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "unsetBusy",
        "rules": [
            {
                "t": "set",
                "p": "busy",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "64621ee3.0ef0b8",
        "type": "easing",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "easingType": "linear",
        "outputType": "overTime",
        "duration": "10000",
        "interval": "500",
        "numberOfValues": 10,
        "x": 730,
        "y": 1780,
        "wires": [
            [
                "d923e526.0fbbc8",
                "bda377f2.09166"
            ]
        ]
    },
    {
        "id": "6106ad0a.9d6b44",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"from\" : ($flowContext('positions').ARM2) ,\t   \"to\" : (payload)\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "e0c7ed2f.e6a848",
        "type": "change",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round($flowContext('positions').ARM2, 1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1780,
        "wires": [
            [
                "928bd9ee.086758"
            ]
        ]
    },
    {
        "id": "bda377f2.09166",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1960,
        "wires": []
    },
    {
        "id": "74b92fa9.bc2ef8",
        "type": "debug",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c540541b.9272c",
        "type": "function",
        "z": "d0319a94.933848",
        "g": "7ad6244d.80c54c",
        "name": "",
        "func": "var position = Math.round(flow.get('positions').ARM2*10)/10;\nvar destination = msg.payload;\n\nvar distance = Math.abs(destination-position);\n\n//this is the velocity of the setpoint\nvar velocity = 0.1; // mm/step\n\nvar nsteps = distance/velocity;\n\nvar interval = 1000; // ms/step\n\nvar duration = nsteps*interval;\n\nmsg.payload = { from:position, \n                to:destination, \n                duration:duration, \n                interval:interval };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "64621ee3.0ef0b8"
            ]
        ]
    },
    {
        "id": "593588ed.fa436",
        "type": "change",
        "z": "d0319a94.933848",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "setpoint",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1420,
        "wires": [
            [
                "5f9d4547.1cd7c4"
            ]
        ]
    }
]